

<section class="py-5">
  <div class="pb-5 mb-5">
    <div class="container">
      <div class="row " >


        
        <div class="col-lg-8">
           

          <div class="text">
            <h3 class="apply-h3 d-flex align-items-center mb-3">
              Application Development made easy!
            </h3>
        </div>

          <p class="mb-3">ORKO is a cloud based no-code application builder that allows any team head, project leader or a business owner to develop and publish smart business applications.</p>

           <p class="mb-3"> The idea behind ORKO is to democratize the accessibility of application development to all professionals. The intuitive design, the drag and drop tools and an easy to use integration interface makes any kind of web application development on ORKO super easy.Business leaders, Process Managers, Project Managers or Developers can use ORKO to build and publish cloud applications within hours. </p>
            
          <p class="mb-3"> ORKO helps cut down on development time and developers hiring cost. Finally you have an application that allows you to build an application that you actually want.
            </p>
        </div>



        <div class="col-md-4 d-flex align-items-center fx-set">
            <img src="../../../assets/images/simplearcana.svg" alt="">
          </div>

          <div class="col-md-12">
            <p><u><b>Go to website</b></u></p>
          </div>

          <div class="col-md-12 pt-5">
            <p>*Simple Arcana is currently in research and prototyping stage</p>
          </div>

        
          
      </div>
    </div>
  </div>
  

</section>