
<div class="container mb-5">

    <!-- <div [innerHtml]="myHtmlProperty"></div> -->

    
    <div class="p"><p>The following are the openings that you can apply for.</p></div>
<div class="accordion accordion-flush"  *ngFor="let job of positionData;let i=index" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                [attr.data-bs-target]="'#flush-collapseOne'+job.jobId" aria-expanded="false" [attr.aria-controls]="'flush-collapseOne'+job.jobId">
                {{job.jobTitle}}
            </button>
        </h2>

        <div [id]="'flush-collapseOne'+job.jobId" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            [attr.data-bs-parent]="'#accordionFlushExample'+job.jobId">
            <div class="accordion-body">

                <div class="row align-items-center acco-body">
                    <div class="col-lg-6 col-12">
                        <h4 class="fix-head-h4">{{job.jobTitle}}</h4>
                    </div>
                    <div class="col-lg-6 col-12 d-flex justify-content-end align-items-center">
                        <div class="btn "><button class="apply me-4" routerLink="/apply" (click)="appliJob(job.jobId,job.jobTitle)">Apply</button> </div>
                        <div class="share"><span class="share-img me-3"><img src="../../../assets/images/share.png" alt=""></span>
                            Share</div>
                    </div>
                </div>


                

                <div class="row align-items-center acco-body mt-4">
                    <div class="col-lg-12 h6-title align-self-center">
                        <h6><p><b>Requirement:</b> {{job.jobRequirement}}<br></p>
                            <p> <b> Position:</b> {{job.jobTitle}}<br></p>
                            <p> <b> Experience:</b> {{job.requiredExperience}}<br></p>
                            <p>  <b> Location:</b> {{job.jobLocation}}<br></p>
                            <p>  <b> CTC:</b> {{job.costTocompany}}</p>
                        </h6>
                    </div>

                </div>


                <div class="row align-items-center mt-4">
                    <div class="col-lg-12 h6-title">
                        <h6><b>Responsibilities of {{job.jobTitle}}</b>
                            <ul class="pt-3 col-pt-0">
                                <li>
                                   {{job.jobDescription}} 
                                </li>
            
                            </ul>
                        </h6>
                    </div>
                </div>


                <div class="row align-items-center mt-2">
                    <div class="col-lg-12 h6-title">
                        <h6><b> Skills and Qualifications</b><br>
                            <ul class="pt-3">
                                <li> 
                                {{job.skillsQualifications}}
                                </li>
                            </ul>
                        </h6>
                    </div>

                </div>




            </div>
        </div>

    </div>

</div>
</div>