<section class="tabs my-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav flex-nowrap fix mb-3 justify-content-center" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
              type="button" role="tab" aria-controls="pills-home" aria-selected="true" routerLink="/innovetor" routerLinkActive="active-link">Orko</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
              type="button" role="tab" aria-controls="pills-profile" aria-selected="false" routerLink="/test" routerLinkActive="active-link"> Ask vana</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact"
              type="button" role="tab" aria-controls="pills-contact" aria-selected="false" routerLink="/openings" routerLinkActive="active-link">simple arcana</button>
          </li>
        </ul>
        </div>  
      </div>
      </div>
</section>

<router-outlet></router-outlet>

       <!--  <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          </div>
          <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <section class="Eligibility" style="background-image: url(../../../assets/images/first-img.png);">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6">
                    <h2>WELCOME TO LE’s <br>ELIGIBILITY TEST</h2>
                    <p>This is a simple 7 questions test that you need to complete to apply for<br> any positions at
                      LE.<br>
                      After the completion of your test, you will receive a six digit key, which<br> will unlock your
                      Openings section.</p>
                    <button class="start" routerLink="/questions">Start test</button>
                  </div>
                  <div class="col-lg-6"></div>
                </div>
              </div>
            </section>

          </div>

          <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
            <h6 class="mb-2 mt-5">The following are the openings that you can apply for.</h6>

            <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Product Design Expert
                  </button>
                </h2>

                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">

                    <div class="row align-items-center acco-body">
                      <div class="col-lg-6">
                        <h4 class="fix-head-h4">Product Design Expert</h4>
                      </div>
                      <div class="col-lg-6 d-flex justify-content-end align-items-center">
                        <div class="btn"><button class="apply me-4" routerLink="/questions">Apply</button> </div>
                        <div class="share"><span class="share-img me-3"><img src="assets/share.png" alt=""></span>
                          Share</div>
                      </div>
                    </div>

                    <div class="row align-items-center acco-body mt-4">
                      <div class="col-lg-12 h6-title">
                        <h6><b>Requirement:</b> User Interface and User Experience Designer<br>
                          <b> Position:</b> Product Designer<br>
                          <b> Experience:</b> 3 years plus exclusively in Figma and AdobeXD. Over all experience 6
                          years plus.<br>
                          <b> Location:</b> Goa or Mumbai (Also open for flexible remote working)<br>
                          <b> CTC:</b> As per industry standards
                        </h6><br>
                      </div>

                    </div>


                    <div class="row align-items-center mt-4">
                      <div class="col-lg-12 h6-title">
                        <h6><b>Responsibilities of Product Designer</b><br>
                          <ul class="pt-3">
                            <li>
                              Plan and implement new designs </li>
                            <li> Optimize existing user interface designs</li>
                            <li> Test for intuitivity and experience</li>
                            <li> Communicate with Business/Team Heads to understand their business goals and
                              objectives</li>
                            <li> Develop technical and business requirements and deliver intuitive and user-centered
                              solutions</li>
                            <li> Combine creativity with an awareness of the design elements</li>
                            <li> Create prototypes for new product ideas</li>
                            <li> Test new ideas before implementing </li>
                            <li> Conduct an ongoing user research</li>
                          </ul>
                        </h6><br>
                      </div>
                    </div>


                    <div class="row align-items-center mt-2">
                      <div class="col-lg-12 h6-title">
                        <h6><b> Skills and Qualifications</b><br>
                          <ul class="pt-3">


                            <li> Overall 6 plus years of experience as a Creative Designer/visualizer</li>
                            <li> A minimum of 3 years plus of experience as a UI/UX designer</li>
                            <li> A minimum of 2 years plus experience in a Creative Design Studio or Advertising
                              Agency</li>
                            <li> A minimum of 1 year plus of experience with HTML5 & CSS3 (not mandatory, but added
                              advantage)</li>
                            <li> A must and excellent working knowledge of:</li>
                            <li> Figma or Adobe XD</li>
                            <li> Photoshop</li>
                            <li> Illustrator (basics)</li>
                            <li> PowerPoint / Slides / Keynote</li>
                            <li> Excellent  interpersonal and communication skills</li>
                            <li>Should be a:</li>
                            <li> Critical Thinker</li>
                            <li> Problem Solver</li>
                            <li> Detailed Oriented</li>

                          </ul>


                        </h6><br>
                      </div>

                    </div>




                  </div>
                </div>

              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Front-end Developer
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                    the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine
                    this being filled with some actual content.</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Front-end Engineer
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                    the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more
                    exciting happening here in terms of content, but just filling up the space to make it look, at
                    least at first glance, a bit more representative of how this would look in a real-world
                    application.</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingfour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapsefour" aria-expanded="false" aria-controls="flush-collapsefour">
                    Back-end Engineer
                  </button>
                </h2>
                <div id="flush-collapsefour" class="accordion-collapse collapse" aria-labelledby="flush-headingfour"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                    the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more
                    exciting happening here in terms of content, but just filling up the space to make it look, at
                    least at first glance, a bit more representative of how this would look in a real-world
                    application.</div>
                </div>
              </div>


              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingfive">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                    Cloud & DevOps Engineer
                  </button>
                </h2>
                <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingfive"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                    the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more
                    exciting happening here in terms of content, but just filling up the space to make it look, at
                    least at first glance, a bit more representative of how this would look in a real-world
                    application.</div>
                </div>
              </div>


              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingsix">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapsesix" aria-expanded="false" aria-controls="flush-collapsesix">
                    Creative Visualizer
                  </button>
                </h2>
                <div id="flush-collapsesix" class="accordion-collapse collapse" aria-labelledby="flush-headingsix"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                    the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more
                    exciting happening here in terms of content, but just filling up the space to make it look, at
                    least at first glance, a bit more representative of how this would look in a real-world
                    application.</div>
                </div>
              </div>


              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingseven">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseseven" aria-expanded="false" aria-controls="flush-collapseseven">
                    Content Writer
                  </button>
                </h2>
                <div id="flush-collapseseven" class="accordion-collapse collapse" aria-labelledby="flush-headingseven"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                    the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more
                    exciting happening here in terms of content, but just filling up the space to make it look, at
                    least at first glance, a bit more representative of how this would look in a real-world
                    application.</div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingeight">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseeight" aria-expanded="false" aria-controls="flush-collapseeight">
                    Human Resource Manager
                  </button>
                </h2>
                <div id="flush-collapseeight" class="accordion-collapse collapse" aria-labelledby="flush-headingeight"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate
                    the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more
                    exciting happening here in terms of content, but just filling up the space to make it look, at
                    least at first glance, a bit more representative of how this would look in a real-world
                    application.</div>
                </div>
              </div>

            </div>



          </div>
        </div>
      </div>
    </div>
  </div>

</section> -->