
<div class="header">
    <app-header></app-header>
</div>
<body class="pages">
    <div class="container">
        <div class="d-flex py-lg-5 pb-3 pt-5 justify-content-lg-center flex-wrap menu-terms"> <a (click)="goToHome( 'footer1')"
                class="px-2 me-lg-5 back-arrow"> <svg width="32" height="16" viewBox="0 0 32 16" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.292893 7.29289C-0.0976295 7.68341 -0.0976296 8.31658 0.292892 8.7071L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34314C8.46159 1.95262 8.46159 1.31945 8.07107 0.92893C7.68054 0.538406 7.04738 0.538406 6.65686 0.92893L0.292893 7.29289ZM32 7L1 7L1 9L32 9L32 7Z"
                        fill="black"></path>
                </svg> </a> <a routerLink="/terms" routerLinkActive="active-link" class="px-lg-3 px-2 ">Terms
                of Service</a> <a routerLink="/privacy" routerLinkActive="active-link" class="ppx-lg-3 px-2 ">Privacy
                Policy</a> <a routerLink="/cookies" routerLinkActive="active-link" class="px-lg-3 active">Cookies</a>
        </div>

        <div class="row">
            <div class="col-lg-3 ">
                <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav flex-wrap  scrol-menu">
                            <li class="nav-item"> <a class="nav-link" aria-current="page" (click)="goToPart( 'section1')"> About us</a></li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section2')" >Acceptance Of Terms</a> </li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section3')" >Definitions</a> </li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section4')">Authorized Users</a> </li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section5')">Responsibility for Authorized
                                    Users</a> </li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section6')">Services</a> </li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section7')">Public User Submissions</a> </li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section8')" >Acceptable Use Policy: AUP</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section9')">Personal Information and
                                    Privacy</a> </li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section10')">Data</a> </li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section11')">LE Obligations</a> </li>
                            <li class="nav-item"> <a class="nav-link"(click)="goToPart( 'section12')">Prohibited Conduct</a> </li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section13')">Disclaimer of Warranties </a>
                            </li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section14')" >Limitation of Liabilities </a>
                            </li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section15')">Indemnification</a> </li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section16')">Term & Termination</a> </li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section17')">Intellectual Property Rights</a>
                            </li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section18')">Dispute Resolution</a> </li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section19')">FORCE MAJEURE</a> </li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section20')" >Governing Law </a> </li>
                            <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section21')">Grievance Officer</a> </li>
                            </ul>
                    </div>

                </nav>
            </div>

            <div class="col-lg-9">

                <p> These Terms of Service (hereinafter referred to as “TOS”) mandate the terms between users or
                    visitors (hereinafter referred to as “Users”) using/accessing/visiting our website LE or any
                    corresponding websites or mobile applications (hereinafter referred to as “Platform”) and <u
                        class="text-dark font-w500">LEVITATING ELEPHANT TECHNOLOGIES PRIVATE LIMITED</u> (hereinafter
                    referred to as “LE”), a private limited company registered under the Companies Act, 2013 and having
                    its registered office at<u class="text-dark font-w500"> 201, 301, Shanta Building, 18th June Road,
                        Santa Inez, Panjim, Goa, 403001.</u> For the purpose of these Terms of Service, wherever the
                    context so requires, “You,” “user” or “User” shall mean any natural or legal person who shall
                    consume the services of the Platform and the terms LE, “WE”, “US” “Service Provider” or “OUR” shall
                    mean Levitating Elephant Technologies Private Limited. </p>
                <div id="section1"></div>
                <p> Your use/access/browsing of our websites, or products or any service availed (with or without
                    payment or with or without subscription) through any means shall signify your consent to be legally
                    bound by this TOS.</p>
                <div class="text-teram">

                    <div class="text-teram-title"> 1. About us: Levitating Elephant Technologies Pvt Ltd. As “LE” </div>
                    <div>LE is a software development company, with a focus on developing cloud-based SaaS applications,
                        that help organizations to improve on their existing processes, increase the utility of
                        connected devices and create an efficient real-time eco-system for all human resources across
                        teams and functions. All our applications are built on an Internet of Things (IoT) framework,
                        with our proprietary machine-learning algorithms. Connected real-time processes, with predictive
                        analysis, is at the core of all our offerings.<br />
                        <strong>ORKO, Ask Vana and Simple Arcana</strong> are three products of LE.<br />
                        <strong><u><a target="_blank" style="color: #212529;"  href="https://orko.co/"> ORKO,</a></u></strong> is a data collection application that identifies, collects, and
                        transforms all types of analog or machine data from point of data creation or transaction into
                        smart digital data. It uses a <em>Smart Online Form Builder Application Platform</em> that
                        enables: i. Structured data collection, ii. Automated data flows and iii. Real time data
                        validation. <strong><em><u></u></em></strong><br />
                        ORKO is available to users as an online cloud-based SAAS (Software as a Service) product on a
                        <strong>Zero-Value Experience Account</strong> and paid subscription basis.<br />
                        <strong><em><u> <a style="color: #212529;"  href="https://askvana.co/" target="_blank"> Ask Vana</a></u></em></strong><em>, is</em> a conversational virtual assistant. It is
                        available to its users as an online cloud-based SAAS product on a yearly subscription.
                    <div id="section2"> </div><strong><em><u></u></em></strong><br />
                    <strong><em><u> <a style="color: #212529;"  href="https://simplearcana.com/" target="_blank"> Simple Arcana</a></u></em></strong><strong><em>, </em></strong>is an autonomous
                    automotive solution for Advanced Driver Assistance Systems (ADAS) and Autonomous Delivery System
                    (ADS).<strong><em><u></u></em></strong> </div><br>
                </div>
                <div class="text-teram">
                    <div id="section3"></div>
                    <div class="text-teram-title">2. Acceptance Of Terms </div>
                    <p> The services that we provide to users are subject to this Terms of Service Agreement. Users are
                        requested to carefully read the TOS before availing our services or visiting our platform. By
                        registering, browsing, continuing use of the platform, or accepting these Terms of Use, users
                        accept these Terms of Service and agree to be legally bound by the same. </p>
                </div>
                <div class="text-teram">

                    <div class="text-teram-title"> 3. Definitions</div>
                    <p>&ldquo;<strong>Agreement</strong>&rdquo; means any agreement between LE and a User for the submit
                        to user through the Services.&nbsp;</p>
                    <p>&ldquo;<strong>User Data</strong>&rdquo; means all data (including but not limited to User
                        Personal Data) that is provided to LE by, or on behalf of, user through User&rsquo;s use of the
                        Services, and any data that third parties or in conjunction with other information (a &quot;Data
                        Subject&quot;).</p>
                    <p>&ldquo;<strong>User Personal Data</strong>&rdquo; means all Personal Data that is submitted to
                        the Services by or to User, processed by LE for the purposes of delivering the Services to the
                        User including&nbsp;but not limited to the personal data. &quot;Personal Data&quot; means
                        information relating to a living individual who is, or can be, reasonably identified from
                        information, either alone Services. &ldquo;<strong>User</strong>&rdquo; or
                        &ldquo;<strong>you</strong>&rdquo; means the paid user that is identified on, and/or is a party
                        to, the Agreement.</p>
                    <p>User Data is any data, file attachments, text, images, reports, personal information, or any
                        other content, that is uploaded or submitted, transmitted, or otherwise made available, to or
                        through the Service by you or any User and is processed by us on user&rsquo;s behalf (the
                        &ldquo;<strong>user / visitor Data</strong>&rdquo;). </p>
                    <div id="section4"></div>
                    <p>For the avoidance of doubt, Anonymous Information (as defined below) is not regarded as User
                        Data. User retains all right, title, interest, and control, in and to the User Data, in the form
                        submitted to the Service. </p>
                </div>
                <div class="text-teram">

                    <div class="text-teram-title"> 4. Authorized Users:</div>
                    <p>There are several types of Account users, such as guests, viewers, and team members, all of whom
                        are defined within the Service and referred to herein as &ldquo;<strong>Authorized
                            Users</strong>,&rdquo; and collectively with the admin, the
                        &ldquo;<strong>Users</strong>.&rdquo; </p>
                    <p>The features and functionalities available to the Users are determined by the respective
                        subscription plan governing such Account, and the privileges of each such Authorized User are
                        assigned and determined by the Account Admin(s)</p>
                    <p>Subject to these Terms, User grants us a worldwide, royalty-free, limited license to access, use,
                        process, copy, distribute, perform, export, and display the User Data, and solely to the extent
                        that reformatting User Data for display in the Service constitutes a modification or derivative
                        work, the foregoing license also includes the right to make modifications and derivative works.
                    </p>
                    <div>The afore-mentioned license is hereby granted solely: (i) to maintain&nbsp; and provide you the
                        Service; (ii) to prevent or address technical or security issues and resolve support&nbsp;
                    <div id="section5"></div> requests; (iii) to investigate when we have a good faith belief, or have
                    received a complaint alleging, that&nbsp; such User Data is in violation of these Terms; (iv) to
                    comply with a valid legal subpoena, request,&nbsp; or other lawful process; and (v) as expressly
                    permitted in writing by you.</div>
                </div><br>
                <div class="text-teram">

                    <div class="text-teram-title">5 Responsibility for Authorized Users.</div>
                    <div>Visitors, Viewers, and Users are solely liable and responsible for understanding the settings,
                        privileges, and controls for the Service. <br />
                        Visitors, Viewers, and Users are responsible for the activities, including filling up Data
                        Forms, Surveys, quizzes they may use / participate and how Users use the user&rsquo;s
                        Data.<br />
                    <div id="section6"></div>
                    Further, Visitors, Viewers, and Users acknowledges that any action taken by them, as participants
                    consumers of content on LE and product websites, LE Café, blogs Account, is deemed by us as an
                    authorized action by Visitors, Viewers, and Users, hence&nbsp;No One shall have no claim in this
                    regard.</div>
                </div><br>
                <div class="text-teram">

                    <div class="text-teram-title"> 6. “Services” means the paid services availed by User from the
                        products of LE (Orko, Ask Vana & Simple Arcana)</div>
                    <div>By using our services, you represent, acknowledge, and agree that you are at least 18 years of
                        age, or if you are under 18 years of age (a &quot;Minor&quot;), that you are availing our
                        services with the consent of your parent or legal guardian and that you have received your
                        parent's or legal guardian's permission to use the and agree to its Terms. If you are a parent
                        or legal guardian of a Minor, you hereby agree to bind the Minor to these Terms and to fully
                        indemnify and hold harmless the Company if the Minor breaches any of these Terms. <br />
                        Our services and the platform are not available to suspended or removed by LE from accessing the
                        platform for any reason whatsoever. Users or visitors represent that they are of legal age and
                        eligible to be bound by contract and are not a person barred, whether natural or legal, from
                        using, availing, or accessing the platform under the applicable laws of India.
                    <div id="section7"></div><br />
                    LE reserves the right to refuse access to the platform, at any point of time to any new user or to
                    terminate or suspend access granted to existing paid users without stating any reasons whatsoever.
                    </div>
                </div><br>
                <div class="text-teram">

                    <div class="text-teram-title">7. Public User Submissions.</div>
                    <p>The LE and its products sites may have certain features that allow you to submit comments,
                        information, and other materials publicly (collectively, &ldquo;<strong>Public User
                            Submissions</strong>&rdquo;) and share such Public&nbsp;User Submissions with other Users,
                        or the public.<br />
                        7.1. By submitting Public User Submissions through these Sites, You grant us a license to
                        access, use, copy, reproduce, process, adapt, publish, transmit, host, and display that Public
                        User Submissions for any purpose, business, including without limitation, for publicizing and
                        promoting LE, the Service and/or the Sites and for any other lawful purpose, in any media format
                        (e.g., in-print, websites. electronically, broadcast), and you hereby waive, or to the extent
                        legally prohibited, assign to The LE and Its Products Sites, any moral rights in your Public
                        User Submissions.</p>
                    <p>7.2. Responsibility for Public User Submissions. </p>
                    <div>You acknowledge and agree that: (i) you have or have&nbsp;obtained all rights, licenses,
                        consents, permissions, power and/or authority, necessary to grant the rights granted herein, for
                        any Public User Submissions that you submit, post or display on or through the&nbsp; LE Café,
                        blogs or Service; (ii) we do not control, and are not
                    <div id="section8"></div>responsible for, other content and/or submissions, posted on&nbsp; our
                    Sites and/or Service by others; (iii) by using the Service and/or Sites, you may be exposed to
                    content&nbsp; and/or submissions by other users or site visitors that is offensive, indecent,
                    inaccurate, misleading, or&nbsp; otherwise unlawful;</div>
                </div><br>
                <div class="text-teram">

                    <div class="text-teram-title"> 8. Acceptable Use Policy: AUP </div>
                    <div>This Acceptable Use Policy (&ldquo;<strong>AUP</strong>&rdquo;) which constitute an integral part
                        of the Terms, This Acceptable Use Policy (&ldquo;<strong>AUP</strong>&rdquo;) which constitute
                        an integral part of the Terms, describes activities that are prohibited in connection with your
                        use of the Service, in addition to the restrictions set forth in the Terms. <br />
                        <strong>1.  You represent and warrant that you shall not do, or cause any other person to do,
                            any of the following activities:</strong><br />
                        1.1.&nbsp; access (or attempt to access), tamper with, or search any portion of the Service
                        and/or its underlying system, network, and technology, by any means other than through the
                        interface that is provided by us in connection with the Service (e.g., scraping, spidering or
                        crawling), unless you have been specifically allowed to do so in a separate binding agreement
                        with us;<br />
                        1.2.&nbsp; probe, scan, or test the vulnerability of any system or network or breach or
                        circumvent any security or authentication measure;<br />
                        1.3.&nbsp; attempt to disrupt or overwhelm our infrastructure by imposing unreasonable requests
                        or burdens on our resources (e.g., using &ldquo;bots&rdquo; or other automated systems to send
                        requests to our servers at a rate beyond what could be sent by a human user during the same
                        period of time);&nbsp;<br />
                        1.4.&nbsp; use the Service to transmit malware or host phishing pages. You may not perform
                        activities or upload or distribute materials or content that harm or disrupt the operation of
                        the Service or other infrastructure of LE or others, including Third Party Services. You may not
                        use the Service for deceptive commercial practices or any other illegal or deceptive
                        activities;<br />
                        1.5.&nbsp; attempt to gain unauthorized access to the Services or related systems or networks or
                        to defeat, avoid, bypass, remove, deactivate, or otherwise circumvent any software protection or
                        monitoring mechanisms of the Service;<br />
                        1.6.&nbsp; impersonate any person or entity, including, but not limited to, an employee of ours,
                        an Admin, a customer, or any other Authorized User, or falsely state or otherwise misrepresent
                        your affiliation with a person, organization or entity;<br />
                        1.7.&nbsp; use the Service to violate the privacy of others, including posting private and
                        confidential information of others, without their express permission;<br />
                        1.8.&nbsp; use the Service to perform or encourage others to perform any activities that are
                        defamatory, libelous or threatening, constitute hate speech, harassment, or
                        stalking;&nbsp;<br />
                        1.9.&nbsp; upload to, or transmit from, the Service any data (including through Customer Data
                        and/or Public User Submissions), file, software, or link that contains, or redirects to, a
                        virus, Trojan horse, worm, scripting exploits, bots or other harmful component or a technology
                        that may or is intended to damage or hijack the operation of any hardware, software (including
                        the Service), or telecommunications equipment, or any other actually or potentially harmful,
                        disruptive, or invasive code or component; and<br />
                        1.10. misuse or otherwise use the Service in an excessive manner compared to the anticipated
                        standard use (examined, at our sole discretion), including without limitation, consuming a
                        massive amount of storage or excessive use of bandwidth.<br />
                        <strong>2. You warrant and represents that you are not, and will not encourage others, to
                            upload, transmit or otherwise use in conjunction with the Service, any Customer Data, Public
                            User Submissions, that:</strong><br />
                        2.1.&nbsp; exploit or abuse children, including but not limited to images or depictions of child
                        abuse or sexual abuse, or that present children in a sexual manner;&nbsp;<br />
                        2.2.&nbsp; infringes our or a third party&rsquo;s (including Third party Service) intellectual
                        property or other rights, including any copyright, trademark, patent, trade secret, moral
                        rights, privacy rights of publicity, or any other intellectual property right or proprietary or
                        contractual right;<br />
                        2.3.&nbsp; is deceptive, fraudulent, illegal, obscene, defamatory, libelous, threatening,
                        harmful, pornographic, indecent, harassing, hateful, or otherwise encouraging any illegal,
                        tortious, or inappropriate conduct; or<br />
                        2.4.&nbsp; attacks or otherwise unlawfully relate to others based on their race, ethnicity,
                        national origin, religion, sex, gender, sexual orientation, disability, or medical
                        condition.<br />
                        3. We are under no obligation to monitor your activities of the Services. However, we may
                        systematically screen and/or monitor any data, content or information uploaded and/or
                        transmitted into our Service and Sites, at any time and for any reason, for compliance with this
                        AUP and the Terms, with or without notice. <br />
                        You acknowledge that it is our policy to respect the legitimate rights of copyright and other
                        intellectual property owners., and we will respond to notices of alleged copyright infringement
                        in accordance.<br />
                        5. In addition to any other remedies that may be available to us, in case we suspect that the
                        Customer Data, Public User Submission or any of your activities, or use of the Service, are in
                        violation of this AUP, these Terms or applicable Law, we may (i) remove such violating Customer
                        Data or Public User Submission, in whole or in part; and/or (ii) terminate or suspend your
                        Account or your access to the Service, with or without advance notice and without liability for
                        us.&nbsp;
                    <div id="section9"></div><br />
                    6. We may modify this AUP, at any time by posting a revised version. By continuing to use the
                    Service or access your Account after a revised version of the AUP has been posted, you agree to
                    comply with the latest version of the AUP. In the event of a conflict between the AUP and the Terms,
                    this AUP will take precedence, but only to the extent required to resolve such conflict.</div>
                </div><br>

                <div class="text-teram">

                    <div class="text-teram-title">9. Personal Information and Privacy </div>
                    <div>
                    <div id="section10"></div>The personal information provided by the users to us in course of availing
                    our services is subject to our Privacy Policy. The website will store cookies on user device, user
                    browser journey, page visits etc to improve website experience and provide more personalized
                    services to users on both this website and other media. For more information, please read our
                  Policy here  (Link to the <a style="color: #212529;" routerLink="/privacy">  Privacy Policy </a> & <a style="color: #212529;"  routerLink="/cookies">Cookies</a>)</div>
                </div><br>
                <div class="text-teram">

                    <div class="text-teram-title">10. Data</div>
                    <p><strong>Collection of Users Information and Personal Data</strong><strong>: </strong><br />
                        User information and personal data shall include:<strong> </strong></p>
                    <ol>
                        <li> Information that is provided voluntarily: Email ID, Mobile number, and the required access
                            provided/approved by the user for example as messages, etc. This may include device
                            location, LE login credentials, and other access granted by users.</li>
                        <li> Information that is automatically collected: Your computer, device ID, and IP address (to
                            know your visitor, user User). The entire user/ visitor&rsquo;s Website journey, like what
                            all pages were visited, time spent, time stamp how many times, which page/content, form
                            filling, which tab or link clicked, downloads, uploads, shopping cart journey, transaction
                            details, etc.<div id="section11"></div>
                        </li>
                        <li> Other sources: The website also collects information by placing cookies to understand
                            user&rsquo;s preferences like font or text, screen mode, connected devices accessibility
                            services, and relevant user device setting information stored on the device hard
                            drive/computer including login password in encrypted form.</li>
                    </ol>
                </div>
                <div class="text-teram">

                    <div class="text-teram-title">11. LE Obligations </div>
                    <ol>
                        <li> only do so on User&rsquo;s consent and in accordance with&nbsp;the&nbsp;Data Protection
                            Legislation, including about transfers of personal data to other jurisdictions or an
                            international organization.&nbsp;</li>
                        <li> ensure that all LE personnel involved in the processing of User Personal Data are subject
                            to confidentiality obligations in respect of the personal data;&nbsp;</li>
                        <li> co-operate as reasonably requested by User to enable User to comply with any
                            exercise&nbsp;of&nbsp;rights&nbsp;by&nbsp;a&nbsp;data&nbsp;subject&nbsp;by Data Protection
                            Legislation in respect of personal data processed by LE in providing the services.</li>
                        <li> upon deletion of the data by User, User Personal Data is not retained by LE other than in
                            order to comply with applicable laws and regulations and as may otherwise be kept in routine
                            backup copies made for disaster recovery and business continuity purposes&nbsp;subject to
                            LE&rsquo;s retention policies;&nbsp;</li>
                        <li> cooperate with any regulatory authority or any replacement or successor body from time to
                            time (or, to the extent required by the User, any other data protection or privacy
                            regulator&nbsp;under Data Protection Legislation) in the performance of such supervisory
                            authority's tasks where&nbsp;required;&nbsp;</li>
                        <li> will not (a)store or sell any Personal Information for a commercial purpose, or (b)
                            collect, retain, use, disclose, or otherwise process Personal Information other
                            than&nbsp;(1)&nbsp;to fulfill its obligations to User under
                            the&nbsp;Agreement,&nbsp;(2)&nbsp;on the User's behalf,&nbsp;(3)&nbsp;for the User's
                            operational purposes,&nbsp;(4)&nbsp;for LE's&nbsp;internal use as permitted by Data
                            Protection Legislation, (5) to detect data security incidents&nbsp;or protect against
                            fraudulent or illegal activity, or (6) as otherwise permitted under Data Protection
                            Legislation;&nbsp;</li>
                        <li>
                            <div id="section12"></div> where required by Data Protection Legislation, LE will inform
                            User if it comes to its attention that any instructions received&nbsp;by&nbsp;User infringe
                            the provision(s) of&nbsp;Data Protection Legislation. Notwithstanding the foregoing, LE
                            shall have no obligation to monitor or review the lawfulness of any instruction received
                            from the User;&nbsp;and LE certifies that it understands the restrictions and obligations
                            set forth in&nbsp;this Agreement.&nbsp;
                        </li>
                    </ol>

                </div>
                <div class="text-teram">

                    <div class="text-teram-title"> 12. Prohibited Conduct</div>
                    <p>By accessing, using, or visiting the LE platform or by availing our services, users agree
                        <strong>NOT TO:</strong></p>
                    <ol>
                        <li>violate or breach the Terms of Service or any other Agreement or policy as may be applicable
                            pursuant to our services</li>
                        <li> provide false, inaccurate, or misleading information</li>
                        <li>impersonate any person or entity, falsely claim or otherwise misrepresent their affiliation
                            with any person or entity or access accounts of others without due consent, forge any
                            person&rsquo;s digital signature, misrepresent the source, identity, or content of
                            information transmitted through the  LE platform</li>
                        <li>infringe our or any third party&rsquo;s intellectual property rights, rights of publicity,
                            or privacy</li>
                        <li>use the platform if they are under the age of 18 years without parental sponsor and in
                            accordance with the applicable laws of India</li>
                        <li> post or transmit any message, data through our platform which is libelous or defamatory in
                            nature or which discloses personal information concerning any person</li>
                        <li>post or transmit any message, data, or image through our platform which is pornographic,
                            vulgar and offensive in nature.</li>
                        <li> refuse to cooperate in any investigation (if any) regarding their identity or any
                            information provided by them to LE.</li>
                        <li> Reverse engineer, decompile, disassemble, or otherwise attempt to discover the source code
                            of as regards LE and LE platforms and services, except and only to the extent this is
                            expressly permissible by applicable laws of India.</li>
                        <div id="section13"></div>
                        <li>Intentionally interfere with or damage the operation of LE services or other LE platforms or
                            any other user&rsquo;s enjoyment of it, by any means, including uploading or disseminating
                            viruses, spyware, worms, or other malicious code or file with contaminating or destructive
                            features.</li>
                    </ol>
                </div>
                <div class="text-teram">

                    <div class="text-teram-title"> 13. Disclaimer of Warranties </div>
                    <p>Users expressly understand and agree that, to the maximum extent permitted by the applicable laws
                        of India:</p>
                    <ol>
                        <li>The platform and services are provided by LE on an &ldquo;as is&rdquo; basis without
                            warranty of any kind, express, implied, statutory, or otherwise. Without limiting the
                            foregoing, LE makes no warranty: i. <div id="section14"></div>the Platform or services will
                            meet user requirements or use of the platform will be uninterrupted, timely, and error-free,
                            ii. The quality of the platform or services will meet user expectations.</li>
                        <li>No advice or information, whether oral or written, obtained by users from LE shall create
                            any warranty not expressly stated in this agreement.</li>
                    </ol>
                </div>
                <div class="text-teram">

                    <div class="text-teram-title">14. Limitation of Liabilities </div>
                    <ol>
                        <li>Users agree that LE in no event shall be liable for any consequential, incidental, indirect,
                            special, punitive, or any other loss or damage whatsoever, related to the use of or
                            inability to the use of our platform or services and functions related thereto.</li>
                        <li>LE will have no liability related to any user content arising under intellectual property
                            rights, libel, privacy, publicity, obscenity, or any other laws. </li>
                        <li>LE will not be liable for any loss that users may incur because of unauthorized use of their
                            personal information in connection to our platform either with or without their knowledge.
                        </li>
                        <li>LE shall not be responsible for the delay or inability to use the platform or our services
                            or related functionalities, or for any information, software or related graphics obtained
                            through our platform, whether based on contract, tort, negligence, strict liability or
                            otherwise. </li>
                        <li>LE shall not be responsible for the non-availability of the platform or services during
                            periodic maintenance operations or any other unforeseen suspension of access to the platform
                            pertaining to technical reasons or any reason whatsoever. </li>
                        <li>Users understand and agree that any material or data downloaded or otherwise obtained by
                            them through our platform is entirely at their own discretion and risk and that they will
                            solely be responsible for any <div id="section15"></div> damage to their computer systems or
                            loss of data because of download of such material or data.</li>
                        <li>In no event shall LE&rsquo;s entire liability with respect to any service, whether direct or
                            indirect, exceed the amount of the commercials agreed upon by the Users.</li>
                    </ol>
                </div>
                <div class="text-teram">

                    <div class="text-teram-title">15. Indemnification </div>
                    <ol>
                        <li>Users agree to indemnify, defend, and hold harmless LE and its affiliates including but not
                            limited to its directors, officers, consultants, employees, and agents (hereinafter referred
                            as &ldquo;Indemnitees&rdquo;) from and against all losses, liabilities, claims, damages,
                            demands, cost and expenses asserted against or incurred by Indemnitees that arise out of,
                            result from any breach or non-performance of any obligation, covenant or warranty by users
                            to these TOS. </li>
                        <li>Users agree to hold Indemnitees harmless against any claims made by any third party due to,
                            or arising out of, or in connection with such user&rsquo;s use of our platform or services
                            with respect to data or information provided by the users in relation to their account,<div
                                id="section16"></div> users violation off the TOS or any other violation of rights
                            including any intellectual property rights.</li>
                        <li>In no event shall the Indemnitees be liable to users or any third party for any special,
                            incidental, indirect, consequential, or punitive damages whatsoever, arising out of or in
                            connection with their use of our platform or services.</li>
                    </ol>
                </div>
                <div class="text-teram">

                    <div class="text-teram-title">16. Term & Termination</div>
                    <ol>
                        <li>These TOS shall continue to apply until terminated by either the user or LE as set forth
                            below.</li>
                        <li>If the user objects to the TOS or is dissatisfied with the platform or our services, they
                            can discontinue the use of the services by cancelling their subscription plan, through our
                            website, or by writing to us. </li>
                        <li>LE may in its sole discretion bar, suspend or terminate any user&rsquo;s use of the platform
                            or our services at any time with or without stating any reason whatsoever.</li>
                        <div id="section17"></div>
                        <li>Notwithstanding anything in this clause, these TOS will survive indefinitely until and
                            unless LE chooses to terminate them.</li>
                        <li>Users or visitors hereby agree, understand, and acknowledge upon termination, LE reserves
                            the right to retain all information pertaining to transactions initiated by users on the
                            platform.</li>
                    </ol>
                </div>
                <div class="text-teram">

                    <div class="text-teram-title"> 17. Intellectual Property Rights</div>
                    <div> The LE platform, products and services including but not limited to, all texts, videos,
                        graphics, user interfaces, visual interfaces, sounds and music (if any), artwork,
                    <div id="section18"></div>algorithm and computer code (and any combination thereof), compilations
                    and databases of accounts, except any third party software available on our platform, is owned by LE
                    and the design, structure, selection, coordination, expression, look and feel and arrangement of
                    such LE rights is protected by intellectual property rights laws in India. Users are not permitted
                    to use LE intellectual property without prior written consent of LE. </div>
                </div>
                <br>
                <div class="text-teram">

                    <div class="text-teram-title">18. Dispute Resolution </div>
                    <div> Any dispute or claim arising out of or in connection herewith, or the breach, termination, or
                        invalidity thereof in relation to this TOS, users shall use all endeavors to resolve the dispute
                        amicably by writing an email to <a href="mailto:legal@levitatingelephant.com">
                            legal@levitatingelephant.com</a> If users are unable to resolve the dispute within 30 days
                        of notice of such dispute, LE shall elect to settle by Arbitration in
                    <div id="section19"></div>accordance with the provisions of the Indian Arbitration & Conciliation
                    Act, 1996, including any amendments thereof. The Arbitration tribunal shall be composed of a sole
                    Arbitrator, and such Arbitrator shall be appointed mutually by the Parties. The place of Arbitration
                    shall be Goa, India and the Arbitration proceedings shall take place in the English language. </div>
                </div><br>
                <div class="text-teram">

                    <div class="text-teram-title"> 19. FORCE MAJEURE</div>
                    <p>The Service Provider shall neither be deemed in default hereunder, nor shall be held responsible
                        for, any cessation, interruption, or delay in the performance of the Services hereunder due to
                        Force Majeure event, provided that the Service Provider</p>
                    <ol start="1" type="a">
                        <li>shall have given LE written notice thereof promptly and, </li>
                        <div id="section20"></div>
                        <li>in any event, within five (5) days of discovery thereof and shall take all steps reasonably
                            necessary under the circumstances to mitigate the effects of the force majeure event upon
                            which such notice is based; provided further, that in the event a force majeure event
                            described in this Agreement extends for a period in excess of 30 days that may be extended
                            to 45 days, LE may immediately terminate this Agreement.</li>
                    </ol>
                </div>
                <div class="text-teram">
                    <div id="section21"></div>
                    <div class="text-teram-title"> 20. Governing Law </div>
                    <p>This Agreement shall be governed by and in accordance with laws of India. Subject to Clause 13 of
                        this Agreement, users agree that any claim or dispute a user may have against LE must be
                        resolved by competent authorities having the exclusive jurisdiction of the <strong>Courts of
                            Goa, India</strong>. </p>
                </div>
                <div class="text-teram">

                    <div class="text-teram-title">21. Grievance Officer </div>
                    In accordance with the Information and Technology Act, 2000 and the rules made thereunder; if users
                    have any grievance with respect to our Platform or services, users can contact our grievance officer
                    at:<a href="mailto:le@leviatatingelephant.com"> le@leviatatingelephant.com</a> The Grievance
                    Officer, Legal Team, Levitating Elephant Technologies Private Ltd.<span class="text-dark"> 201, 301,
                        Shanta Building, 18th June Road, Santa Inez, Panji, Goa, 403001.</span>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <app-footer></app-footer>
      </div>