<div class="header">
    <app-header></app-header>
</div>


<div class="page-banner">
    <div class="container-fluid">
      <div class="row align-items-center">
      <div class="col-2 page-banner-left ps-0">
  <img src="../../assets/images/page-banner-left.svg" width="120">
    </div>
     <div class="col-8  text-center butterfly">
      <h1 class="title text-white text-uppercase">About Us </h1>
     <img src="../../assets/images/butterfly2.svg"> 
    </div>
  
    <div class="col-2 page-banner-right ps-0 text-end pe-0">
  <img src="../../assets/images/page-banner-right.svg" width="120">
    </div>
  </div>
  </div>
  </div>
  
  <div class="container py-5"> 
    <ul class="nav nav-pills sticky-top mb-5 justify-content-center" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-why-le-tab" data-bs-toggle="pill" data-bs-target="#pills-why-le" type="button" role="tab" aria-controls="pills-why-le" aria-selected="true">Why LE?</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-board-tab" data-bs-toggle="pill" data-bs-target="#pills-board" type="button" role="tab" aria-controls="pills-board" aria-selected="false">Board</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-team-tab" data-bs-toggle="pill" data-bs-target="#pills-team" type="button" role="tab" aria-controls="pills-team" aria-selected="false">Team</button>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent" >
    <div class="tab-pane fade show active" id="pills-why-le" role="tabpanel" aria-labelledby="pills-why-le-tab">
      
  <div class="founder-text">
    <div class="row align-items-center">
    <div class="col-10 d-flex pe-0">
  <div class="img-rajiv me-2"><img src="../../assets/images/team1.png"> </div>
  <div class="rajiv-right">
    <h2 class="text-white">Rajiv Thakur</h2>
  <p class="mb-0 text-white">A note from the Founder. (February, 2023)</p>
  </div>
  
  </div>
  <div class="col-2 text-end text-lg-center">
  
    <a class="collapse-rajvi"  data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
     <img src="../../assets/images/arrow-dwon.svg">
    </a>
  
  
  
  </div>
  </div>
  </div>
   <div class="about-bg collapse" id="collapseExample">  
  <div class="text-dark-pink h5 pb-4"> Hi there…</div>
  <p>
  My name is Rajiv, and I am the founder of Levitating Elephant (LE).
  When I started writing about the vision and mission statement of LE, I couldn't really pen down a politically correct piece. The structured sentences with words like VALUE, EFFICIENCY and IMPACT, sounded a little shallow. Thus this attempt at sharing a personal note on why I started LE.
  </p>
  <div class="text-dark-pink h5 pb-3 pt-2 mb-0"> Note:</div>
  <p class="text-dark-pink" style="font-weight: 600;"> LE was by far the most conscious, and bravest thing I ever ventured into.</p>
  
  <p>A first generation entrepreneur, with two unsuccessful attempts at entrepreneurship, 42 years of age and with fairly stable employment with multiple similar prospects… <span class="text-dark-pink">then Why LE ?</span></p>
  
  <h2 class="title m-title  my-5">Genesis</h2>
  
  <p>Many friends, well wishers, family members and colleagues often ask me this question. Some with a serious sense of concern, some with utmost belief that it is a meaningless effort and some with genuine inquisitiveness… Well, I wish I could spin some inspiring moment of epiphany, some deep insight or some sparkle of genius which ignited the idea… but NO, it wasn’t so.</p>
  
  <p>ORKO was a result of a professional quest to find a tool or application that could collect and track verifiable and validated data in real time. As business heads we are always on the lookout for tools and applications that can help us track, collect and compute data in real time with ease. But unfortunately there is no singular application available that can work organization-wide across functions which can enable this. If the data is scientific - like pressure, density etc or sensor based data; then collecting and computing this data has another set of challenges. As an integrated world where sensors are going to play a very integral part of our lives, we do not have any ready to use tools or applications that can collect, track and compute all these different data types on one platform. The world's most used data collection and tracker tool till date is the Excel Sheet.</p>
  
  <p>So, I worked around the idea of a simple application builder that helps anyone with basic Excel and Powerpoint knowledge to build powerful Data Collection applications with no-code exception management support. Execution of this idea needed a tech team, funds etc …and that is where the idea of LE originated. Ask Vana - a conversational task management tool; and Simple Arcana - an advanced sensor based driving assistance system; were the aftermath spinoffs of ORKO.</p>
  
  <p>LE was more of an after thought of ORKO, to be more precise a manifestation of an entrepreneur I always wanted to be. So, in July, 2019 with the little savings I had and a personal loan from the bank, I set up Levitating Elephant as a private limited company in Goa, India.</p>
  
  
  <h2 class="title m-title  my-5">The Co-Founders</h2>
  <p>Ideas are created by dreamers, but companies are built by doers -  This was the toughest learning of my life. The journey of being an ideas guy to a habitual procrastinator, to literally moving out of my comfort zone by quitting my job and relocating to a completely new place to start LE was my first self victory in the list of my personal battles. But learnt very quickly that battles are not fought alone, internal battles or external, there are always people around you helping you to win or pull you down.</p>
  
  <p>The years 2020 and 2021 were very tough and equally educational years. The COVID era (as I call it), taught me so many invaluable lessons, on humility, reality check, people relations, importance of family, importance of friends… and many more.</p>
  
  <p>As LE was a 100% bootstrapped enterprise (still is),  we landed into some major financial crisis in 2020 and 2021. But with the help of well wishers and friends we were able to make a comeback in 2022, and are ready with a go-to-market ready product, ORKO, in 2023. </p>
  
  <p>Building a dream company like LE, hinges completely on teamwork; and I would like to mention two very brave individuals who joined LE as co-founders, when LE was at its lowest phase with regards to funds and self-faith. I would like to thank Rohit Tiwari and Sanjeev Chibber, the two brave men who joined me as co-founders and just turned things around within a year. From almost being shut down in 2021, today we stand strong with one market-ready product, and two products in MVP and prototype stage.</p>
  
  <p>With all its cutting edge tech products, LE at its core is an emotion of faith, compassion and a relentless fire to succeed. My heartfelt thanks to my extraordinary co-founders, my team, my friends and my family who have made this journey incredibly rich so far.</p>
  
  <p>I end this note with an assurance that LE is in safe and best possible hands, and is rightly poised to capture its space as the most valuable, efficient and impactful enterprise in the coming years.</p>
  
  
  <a style="letter-spacing: -2px;" class="title m-title  mt-5 mb-0 text-uppercase"
  (click)="goToJoin()">Join me on my journey</a>
  <p class="best-regards">Best Regards,<br>
  Rajiv.</p>
  
  </div>
  
    </div>
    <div class="tab-pane fade" id="pills-board" role="tabpanel" aria-labelledby="pills-board-tab">
      
  <h2 class="title m-title text-center d-flex align-items-center justify-content-center my-5 pt-lg-4 text-uppercase"><span class="divder"></span> MEET OUR BOARD MEMBERS</h2>
  
      <div class="row gx-lg-4 pt-lg-5">
        <div class="col-lg-4">
          <div class="members-bord-box">
            <div class="members-bord-box-img">
              <img src="../../assets/images/members-bord1.jpg" width="100%">
            </div>
            <div class="d-flex justify-content-between px-4">
            <div> 
              <div class="members-bord-box-name"> Rajiv Thakur</div>
             <div class="postion-name"> Founder, Director</div>
            </div>
            <div><svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M13.5 0C6.0453 0 0 6.0453 0 13.5C0 20.9547 6.0453 27 13.5 27C20.9547 27 27 20.9547 27 13.5C27 6.0453 20.9547 0 13.5 0ZM9.57706 20.4082H6.28919V10.5166H9.57706V20.4082ZM7.93323 9.16589H7.9118C6.8085 9.16589 6.09494 8.40639 6.09494 7.45718C6.09494 6.48653 6.83034 5.74805 7.95506 5.74805C9.07979 5.74805 9.77193 6.48653 9.79335 7.45718C9.79335 8.40639 9.07979 9.16589 7.93323 9.16589ZM21.4324 20.4082H18.145V15.1164C18.145 13.7865 17.6689 12.8795 16.4793 12.8795C15.5711 12.8795 15.0301 13.4913 14.7924 14.0819C14.7055 14.2933 14.6843 14.5887 14.6843 14.8843V20.4082H11.3966C11.3966 20.4082 11.4397 11.4446 11.3966 10.5166H14.6843V11.9171C15.1212 11.2431 15.9029 10.2844 17.6473 10.2844C19.8104 10.2844 21.4324 11.6982 21.4324 14.7364V20.4082Z" fill="#5F3A96"/>
  </svg>
  </div>
          </div>
          </div>
        </div>
  
              <div class="col-lg-4">
          <div class="members-bord-box">
            <div class="members-bord-box-img">
              <img src="../../assets/images/members-bord2.jpg" width="100%">
            </div>
            <div class="d-flex justify-content-between px-4">
            <div> 
              <div class="members-bord-box-name"> Rohit Tiwari</div>
             <div class="postion-name"> Founder, Director</div>
            </div>
            <div><svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M13.5 0C6.0453 0 0 6.0453 0 13.5C0 20.9547 6.0453 27 13.5 27C20.9547 27 27 20.9547 27 13.5C27 6.0453 20.9547 0 13.5 0ZM9.57706 20.4082H6.28919V10.5166H9.57706V20.4082ZM7.93323 9.16589H7.9118C6.8085 9.16589 6.09494 8.40639 6.09494 7.45718C6.09494 6.48653 6.83034 5.74805 7.95506 5.74805C9.07979 5.74805 9.77193 6.48653 9.79335 7.45718C9.79335 8.40639 9.07979 9.16589 7.93323 9.16589ZM21.4324 20.4082H18.145V15.1164C18.145 13.7865 17.6689 12.8795 16.4793 12.8795C15.5711 12.8795 15.0301 13.4913 14.7924 14.0819C14.7055 14.2933 14.6843 14.5887 14.6843 14.8843V20.4082H11.3966C11.3966 20.4082 11.4397 11.4446 11.3966 10.5166H14.6843V11.9171C15.1212 11.2431 15.9029 10.2844 17.6473 10.2844C19.8104 10.2844 21.4324 11.6982 21.4324 14.7364V20.4082Z" fill="#5F3A96"/>
  </svg>
  </div>
          </div>
          </div>
        </div>
  
              <div class="col-lg-4">
          <div class="members-bord-box">
            <div class="members-bord-box-img">
              <img src="../../assets/images/members-bord3.jpg" width="100%">
            </div>
            <div class="d-flex justify-content-between px-4">
            <div> 
              <div class="members-bord-box-name"> Sanjeev Chibber</div>
             <div class="postion-name"> Founder, Director</div>
            </div>
            <div><svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M13.5 0C6.0453 0 0 6.0453 0 13.5C0 20.9547 6.0453 27 13.5 27C20.9547 27 27 20.9547 27 13.5C27 6.0453 20.9547 0 13.5 0ZM9.57706 20.4082H6.28919V10.5166H9.57706V20.4082ZM7.93323 9.16589H7.9118C6.8085 9.16589 6.09494 8.40639 6.09494 7.45718C6.09494 6.48653 6.83034 5.74805 7.95506 5.74805C9.07979 5.74805 9.77193 6.48653 9.79335 7.45718C9.79335 8.40639 9.07979 9.16589 7.93323 9.16589ZM21.4324 20.4082H18.145V15.1164C18.145 13.7865 17.6689 12.8795 16.4793 12.8795C15.5711 12.8795 15.0301 13.4913 14.7924 14.0819C14.7055 14.2933 14.6843 14.5887 14.6843 14.8843V20.4082H11.3966C11.3966 20.4082 11.4397 11.4446 11.3966 10.5166H14.6843V11.9171C15.1212 11.2431 15.9029 10.2844 17.6473 10.2844C19.8104 10.2844 21.4324 11.6982 21.4324 14.7364V20.4082Z" fill="#5F3A96"/>
  </svg>
  </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="pills-team" role="tabpanel" aria-labelledby="pills-team-tab">
        <h2 class="title m-title text-center d-flex align-items-center justify-content-center my-5 pt-lg-4 text-uppercase"><span class="divder"></span> MEET OUR CORE MEMBERS</h2>
  
      <div class="row gx-lg-4 pt-lg-5">
        <div class="col-lg-3 text-center">
          <div class="members-bord-box">
            <div class="members-bord-box-img">
              <img src="../../assets/images/team1.png" width="100%">
            </div>
            <div class="py-3"> 
              <div class="members-bord-box-name"> Rajiv Thakur</div>
             <div class="postion-name"> Founder, Director</div>
            </div>
            <div><a href="#"> <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M13.5 0C6.0453 0 0 6.0453 0 13.5C0 20.9547 6.0453 27 13.5 27C20.9547 27 27 20.9547 27 13.5C27 6.0453 20.9547 0 13.5 0ZM9.57706 20.4082H6.28919V10.5166H9.57706V20.4082ZM7.93323 9.16589H7.9118C6.8085 9.16589 6.09494 8.40639 6.09494 7.45718C6.09494 6.48653 6.83034 5.74805 7.95506 5.74805C9.07979 5.74805 9.77193 6.48653 9.79335 7.45718C9.79335 8.40639 9.07979 9.16589 7.93323 9.16589ZM21.4324 20.4082H18.145V15.1164C18.145 13.7865 17.6689 12.8795 16.4793 12.8795C15.5711 12.8795 15.0301 13.4913 14.7924 14.0819C14.7055 14.2933 14.6843 14.5887 14.6843 14.8843V20.4082H11.3966C11.3966 20.4082 11.4397 11.4446 11.3966 10.5166H14.6843V11.9171C15.1212 11.2431 15.9029 10.2844 17.6473 10.2844C19.8104 10.2844 21.4324 11.6982 21.4324 14.7364V20.4082Z" fill="#5F3A96"/>
  </svg>
  </a>
          </div>
          </div>
        </div>
  
             <div class="col-lg-3 text-center">
          <div class="members-bord-box">
            <div class="members-bord-box-img">
              <img src="../../assets/images/team2.png" width="100%">
            </div>
           <div class="py-3"> 
              <div class="members-bord-box-name"> Rohit Tiwari</div>
             <div class="postion-name"> Founder, Director</div>
            </div>
            <div><a href="#"> <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M13.5 0C6.0453 0 0 6.0453 0 13.5C0 20.9547 6.0453 27 13.5 27C20.9547 27 27 20.9547 27 13.5C27 6.0453 20.9547 0 13.5 0ZM9.57706 20.4082H6.28919V10.5166H9.57706V20.4082ZM7.93323 9.16589H7.9118C6.8085 9.16589 6.09494 8.40639 6.09494 7.45718C6.09494 6.48653 6.83034 5.74805 7.95506 5.74805C9.07979 5.74805 9.77193 6.48653 9.79335 7.45718C9.79335 8.40639 9.07979 9.16589 7.93323 9.16589ZM21.4324 20.4082H18.145V15.1164C18.145 13.7865 17.6689 12.8795 16.4793 12.8795C15.5711 12.8795 15.0301 13.4913 14.7924 14.0819C14.7055 14.2933 14.6843 14.5887 14.6843 14.8843V20.4082H11.3966C11.3966 20.4082 11.4397 11.4446 11.3966 10.5166H14.6843V11.9171C15.1212 11.2431 15.9029 10.2844 17.6473 10.2844C19.8104 10.2844 21.4324 11.6982 21.4324 14.7364V20.4082Z" fill="#5F3A96"/>
  </svg>
  </a>
  </div>
          </div>
          </div>
     
  
              <div class="col-lg-3 text-center">
          <div class="members-bord-box">
            <div class="members-bord-box-img">
              <img src="../../assets/images/team3.png" width="100%">
      </div>
           <div class="py-3"> 
              <div class="members-bord-box-name"> Sanjeev Chibberr</div>
             <div class="postion-name"> Founder, Director</div>
            </div>
            <div><a href="#"> <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M13.5 0C6.0453 0 0 6.0453 0 13.5C0 20.9547 6.0453 27 13.5 27C20.9547 27 27 20.9547 27 13.5C27 6.0453 20.9547 0 13.5 0ZM9.57706 20.4082H6.28919V10.5166H9.57706V20.4082ZM7.93323 9.16589H7.9118C6.8085 9.16589 6.09494 8.40639 6.09494 7.45718C6.09494 6.48653 6.83034 5.74805 7.95506 5.74805C9.07979 5.74805 9.77193 6.48653 9.79335 7.45718C9.79335 8.40639 9.07979 9.16589 7.93323 9.16589ZM21.4324 20.4082H18.145V15.1164C18.145 13.7865 17.6689 12.8795 16.4793 12.8795C15.5711 12.8795 15.0301 13.4913 14.7924 14.0819C14.7055 14.2933 14.6843 14.5887 14.6843 14.8843V20.4082H11.3966C11.3966 20.4082 11.4397 11.4446 11.3966 10.5166H14.6843V11.9171C15.1212 11.2431 15.9029 10.2844 17.6473 10.2844C19.8104 10.2844 21.4324 11.6982 21.4324 14.7364V20.4082Z" fill="#5F3A96"/>
  </svg></a>
          </div>
          </div>
        </div>
  
                    <div class="col-lg-3 text-center">
          <div class="members-bord-box">
            <div class="members-bord-box-img">
              <img src="../../assets/images/team4.png" width="100%">
      </div>
           <div class="py-3"> 
              <div class="members-bord-box-name">Sanjeev Chibber</div>
             <div class="postion-name"> Founder, Director</div>
            </div>
            <div><a href="#"> <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M13.5 0C6.0453 0 0 6.0453 0 13.5C0 20.9547 6.0453 27 13.5 27C20.9547 27 27 20.9547 27 13.5C27 6.0453 20.9547 0 13.5 0ZM9.57706 20.4082H6.28919V10.5166H9.57706V20.4082ZM7.93323 9.16589H7.9118C6.8085 9.16589 6.09494 8.40639 6.09494 7.45718C6.09494 6.48653 6.83034 5.74805 7.95506 5.74805C9.07979 5.74805 9.77193 6.48653 9.79335 7.45718C9.79335 8.40639 9.07979 9.16589 7.93323 9.16589ZM21.4324 20.4082H18.145V15.1164C18.145 13.7865 17.6689 12.8795 16.4793 12.8795C15.5711 12.8795 15.0301 13.4913 14.7924 14.0819C14.7055 14.2933 14.6843 14.5887 14.6843 14.8843V20.4082H11.3966C11.3966 20.4082 11.4397 11.4446 11.3966 10.5166H14.6843V11.9171C15.1212 11.2431 15.9029 10.2844 17.6473 10.2844C19.8104 10.2844 21.4324 11.6982 21.4324 14.7364V20.4082Z" fill="#5F3A96"/>
  </svg></a>
          </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  
     </div>


<div class="footer">

    <app-footer></app-footer>
</div>