

<section class="py-5">
    <div class="container">
      <h2 class="title m-title text-center d-flex align-items-center justify-content-center mb-4 pt-lg-0 text-uppercase"><span class="divder"></span> THE CREATIVE INNOVATOR</h2>
      <p class="text-center pb-5 mb-lg-5"> We are building a dream team of entrepreneurs who can create, execute and deliver value with impact.</p>
    </div>
    <div class="caree-right-bg pb-5 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class=" pe-lg-5 me-lg-5">
              <div class="text-sub-heading pb-3 pe-lg-4">Who is a Creative Innovator ? …and why are we looking for them ?</div>
              <p class="pe-lg-4 text-justify" > The creative innovators are a special breed of people who have this very rare combination of imaginative free thinking and a logical engineering mind. The creatives question the next big idea; and the innovators execute structured value driven outputs of an existing idea.</p>
            </div>
            <div class="caree-list">
              <ol>
                <li><span>01</span> Generating new ideas</li>
                <li> <span>02</span>Creating workable blue-prints of the ideas</li>
                <li> <span>03</span>Ability to communicate and convince your team of your ideas</li>
                <li> <span>04</span>Be a super specialist in at least two skills</li>
                <li> <span>05</span>Be a motivating and inspiring team member</li>
                <li> <span>06</span>Be an entrepreneur at heart</li>
                <li> <span>07</span> Always have a combination of objectivity and compassion in decision making</li>
              </ol>
            </div>
          </div>
          <div class="col-lg-6 "> <img src="../../../assets/images/bg-innovator.png" class="img-fluid d-md-none mt-4"> </div>
        </div>
      </div>
    </div>
    <div class="container pb-5">
      <p> There is no textbook explanation of how to become a Creative Innovator. The points mentioned above is LE’s standard of identifying its breed of people. </p>
      <p> If you feel that you are a creative innovator, take the<strong style="color:#942C86;"> LE Eligibility Test</strong> and apply for the positions you think you are best suited for in the <strong style="color:#942C86;">Openings  section</strong></p>
    </div>

</section>