<div class="header">
  <app-header></app-header>
</div>

<body class="pages">
  <div class="container">
    <div class="d-flex py-lg-5 pb-3 pt-5 justify-content-lg-center flex-wrap menu-terms"> <a (click)="goToHome( 'footer1')"
        class="px-2 me-lg-5 back-arrow"> <svg width="32" height="16" viewBox="0 0 32 16" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0.292893 7.29289C-0.0976295 7.68341 -0.0976296 8.31658 0.292892 8.7071L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34314C8.46159 1.95262 8.46159 1.31945 8.07107 0.92893C7.68054 0.538406 7.04738 0.538406 6.65686 0.92893L0.292893 7.29289ZM32 7L1 7L1 9L32 9L32 7Z"
            fill="black"></path>
        </svg> </a> <a routerLink="/terms" routerLinkActive="active-link" class="px-lg-3 px-2 ">Terms
        of Service</a> <a routerLink="/privacy" routerLinkActive="active-link" class="ppx-lg-3 px-2 ">Privacy Policy</a>
      <a routerLink="/cookies" routerLinkActive="active-link" class="px-lg-3 active">Cookies</a> </div>
    <div class="row">
      <div class="col-lg-3" style="position: relative;">
       <div id="sticky">
        <nav class="navbar navbar-expand-lg navbar-light sticky-top bg-light" id="test">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav flex-wrap  scrol-menu">
              <li class="nav-item"> <a class="nav-link" aria-current="page"   (click)="goToPart( 'section1')"  >Collection of Information
                </a> </li>
              <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section2')"> Processing of Information </a> </li>
              <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section3')"> Security</a> </li>
              <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section4')"> Cookies</a> </li>
              <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section5')">Withdrawal of Consent </a> </li>
              <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section6')">Changes to this Privacy Policy</a> </li>
              <li class="nav-item"> <a class="nav-link" (click)="goToPart( 'section7')" > Grievances</a> </li>
            </ul>
          </div>
        </nav>
      </div>
      </div>
      <div class="col-lg-9">

        <p><u class="text-dark font-w500">Levitating Elephant Technologies Private Limited</u> (hereinafter referred to
          as &ldquo;LE&rdquo;) is a private limited company registered under the Companies Act, 2013, having its
          registered office at 201, 301, Shanta Building, 18th June Road, Santa Inez, Panjim, Goa, 403001.<br />
        </p>
        <p>
          This Privacy Policy shall apply to and for the purpose of this Privacy Policy, wherever the context so
          requires, &ldquo;You, &ldquo;user&rdquo; or &ldquo;User&rdquo; shall mean any natural or legal person who
          visits/browses/avails services of the Platform and the terms, &ldquo;WE&rdquo;, &ldquo;US&rdquo; or
          &ldquo;OUR&rdquo; shall mean <u class="text-dark font-w500">Levitating Elephant Technologies Private
            Limited.</u>
          <br />
        </p>

        <div>
          This <strong class="text-dark font-w500">Data Privacy Policy</strong> is incorporated by reference into LE
          <strong class="text-dark font-w500">Terms of Service</strong> available at&nbsp;<a style="color:#613d97"
            href="http://www.levitatingelephant.com/terms/tos">www.levitatingelephant.com/terms/tos</a> &nbsp;or other
          agreement governing the use of LE services. This Privacy Policy is incorporated into and is subject to our
          <strong class="text-dark font-w500">Terms of Service</strong> and shall be read together and in conjunction
          with the <strong class="text-dark font-w500">Terms of Service.</strong></div>

        <p> Please read the Privacy Policy carefully before using or registering on the Platform or accessing any
          material, information or availing any services through the platform. By clicking on the &ldquo;Accept&rdquo;
          button on the landing page, you accept this Privacy Policy and agree to be legally bound by the same. Please
          do not use or access the platform if you do not agree to the Privacy Policy.</p>
        <p><strong class="text-dark font-w500">ABOUT, LE </strong> </p>
        <p> <strong class="text-dark font-w500">Levitating Elephant Technologies Private Limited</strong></p>
        <p> LE is a software development company, with a focus on developing cloud-based SaaS applications, that help
          organizations to improve on their existing processes, increase the utility of connected devices and create an
          efficient real-time eco-system for all human resources across teams and functions. All our applications are
          built on an Internet of Things (IoT) framework, with our proprietary machine-learning algorithms. Connected
          real-time processes, with predictive analysis, is at the core of all our offerings.
        <p>

        <p><strong class="text-dark font-w500">ORKO, Ask Vana and Simple Arcana are three products of LE.</strong></p>
        <p><strong class="text-dark font-w500"><u> <a href="https://orko.co/"  style="color: #212529;" target="_blank"> ORKO</a></u></strong></p>

        <p><strong class="text-dark font-w500">ORKO,</strong> is a data collection application that identifies,
          collects, and transforms all types of analog or machine data from point of data creation or transaction into
          smart digital data. It uses a Smart Online Form Builder Engine that enables: <strong>(I)</strong> Structured
          data collection, <strong class="text-dark font-w500">(ii)</strong> Automated data flows and <strong
            class="text-dark font-w500">(iii)</strong> Real time data validation.
        <p>

        <p> <strong class="text-dark font-w500">ORKO, </strong>is available to users as an online cloud-based SAAS
          (Software as a Service) product on a zero-value experience account and paid subscription basis.</p>

        <p><strong class="text-dark font-w500"><u>  <a href="https://askvana.co/"  style="color: #212529;" target="_blank">Ask Vana</a></u></strong></p>
        <p> <strong class="text-dark font-w500">Ask Vana</strong>, is a conversational virtual assistant. It is
          available to its users as an online cloud-based SAAS product on a yearly subscription. </p>
        <p> <strong class="text-dark font-w500"><u> <a href="https://simplearcana.com/" style="color: #212529;" target="_blank"> Simple Arcana</a></u></strong></p>
        <p> <strong class="text-dark font-w500">Simple Arcana,</strong> is an autonomous automotive solution for
          Advanced Driver Assistant Systems (ADAS) and Autonomous Delivery System (ADS). </p>
        <div class="text-teram">
          <div><a id="section1" class="theEnd1"> </a></div>
          <div class="text-teram-title">1. Collection of Information: </div>

          <p>In order to enhance the user experience and provide our services, LE collects the following types of
            information about the users:</p>
          <ul>
            <li>Information that you voluntarily provide us: Email ID, Mobile number, and the required access
              provided/approved by the user for example as messages, etc. This may include device location, Account
              login credentials, and other access granted by users.</li>
            <li>Information that is automatically collected: Your computer, device ID, and IP address (to know your
              visitor, user customer). The entire user/ visitor&rsquo;s Website journey, like what all pages were
              visited, time spent, time stamp how many times, which page/content, form filling, which tab or link
              clicked, downloads, uploads, shopping cart journey, transaction details, etc.</li>
            <li>Other sources: The website also collects information by placing cookies to understand user&rsquo;s
              preferences like font or text, screen mode, connected devices accessibility services, and relevant user
              device setting information stored on the device hard drive/computer including login password in encrypted
              form.</li>
          </ul>
          <p><strong>Information is collected and processed, for a variety of purposes, including</strong></p>
          <ul>
            <li>to provide and promote our websites and services;</li>
            <li>to provide you with information about our products;</li>
            <li>to manage your registration for and attendance at events as well as office visits;</li>
            <li>to manage your registration for contests or promotions;</li>
            <li>to communicate with you;</li>
            <li>to maintain the security of the services;</li>
            <li>to improve the performance of the services;</li>
            <li>to review compliance with applicable usage terms (including capacity requirements);</li>
            <li>to identify future opportunities for the development of the services;</li>
            <li>to complete transactions with you when you purchase our products or services;</li>
            <li>to administer surveys and conduct research;</li>
            <li>to display personalized advertisements to you and to send to you marketing communications about us, our
              products, and our services; and</li>
            <li>to comply with our legal obligations under applicable laws and to cooperate with public and government
              authorities as required.</li>
          </ul>
        </div>

        <div class="text-teram">
          <div id="section2"></div>
          <div class="text-teram-title">2. Processing of Information </div>
          <p><strong>CONFIDENTIALITY </strong>Processor shall ensure that its personnel and contractors engaged in the
            Processing of Personal Data have committed themselves to confidentiality or are otherwise under a statutory
            obligation of confidentiality. <br />
            <strong>PROCESSING OF PERSONAL DATA</strong> <br />
            2.1 <strong>Roles of the Parties.</strong>&nbsp;The Parties acknowledge and agree that with regard to the
            Processing of Personal Data solely by LE on behalf of Users: (a) User is the Controller of Personal Data,
            and (b) LE is the Processor of such Personal Data. The terms &ldquo;Controller&rdquo; and
            &ldquo;Processor&rdquo; below signify Users and LE, respectively. <br />
            2.2 <strong>User&rsquo;s Obligations</strong>. Users, in its use of the Services, and User&rsquo;s
            instructions to the Processor, shall comply with Data Protection Laws, the Agreement and this DPA. Users
            shall establish and have any and all required legal bases in order to collect, Process and transfer to
            Processor the Personal Data, and to authorize the Processing activities conducted by Processor on
            User&rsquo;s behalf in accordance with the Agreement and this DPA, including the pursuit of a Business
            Purpose. <br />
            2.3 <strong>Processor&rsquo;s Processing of Personal Data</strong>. Processor shall Process Personal Data
            for the following purposes: (a) in accordance with the Agreement and this DPA; (b) in connection with its
            provision of the Services; (c) to comply with User&rsquo;s reasonable and documented instructions, where
            such instructions are consistent with the terms of the Agreement and this DPA, and regard the manner in
            which the Processing shall be performed; and (d) as required under the laws applicable to Processor, and/or
            as required by a court of competent jurisdiction or other competent governmental or semi-governmental
            authority, provided that Processor shall inform Users of the legal requirement before Processing, unless
            such law or order prohibits disclosing such information. <br />
            Processor shall inform Users without undue delay if, in Processor&rsquo;s reasonable opinion, an instruction
            for the Processing of Personal Data given by Users infringes applicable Data Protection Laws, unless
            Processor is prohibited from notifying Users under applicable Data Protection Laws. It is hereby clarified
            that Processor has no obligation to assess whether instructions by Users infringe any Data Protection Laws.
            <br />
            2.4 <strong>Details of Processing</strong>. The subject-matter of Processing of Personal Data by Processor
            is the performance of the Services pursuant to the Agreement and this DPA. The details relating to the
            duration, nature and purpose, types of Personal Data and categories of Data Subjects Processed under this
            DPA are further specified in Schedule 1 (Details of Processing) to this DPA. <br />
            2.5 <strong>Sensitive Data</strong>. The Parties agree that the Services are not intended for the Processing
            of Sensitive Data, and that if User wishes to use the Services to Process Sensitive Data, it must first
            obtain the  LE&rsquo;s explicit prior written consent and enter into any additional agreements as may be
            required by  LE. <br />
            We only collect and process your Personal Data to the extent it is necessary for fulfilling these purposes
            and where we can rely on a legal basis for such processing as set out in our full Privacy Statement.
          </p>
        </div>


        <div class="text-teram">
          <div id="section3"></div>
          <div class="text-teram-title">3 Security:</div>

          <p>Data Privacy and Security are at the core of LE&rsquo;s Architecture and Infrastructure</p>
          <p>LE takes a very proactive approach towards protecting your data by building top level physical security of
            4 tier data centres spread across multiple geographical locations and end-to-end data encryption that keeps
            the privacy of your data at the highest levels.<br />
            Your data is totally end-to-end encrypted.</p>
          <p><strong>Encryption at rest.</strong><br />
            All data that is stored by LE is encrypted at the storage layer with a 256-bit Advanced Encryption Standard
            (AES) algorithm. The AES 256 key has the highest mathematical equivalent of 2256 combinations, ensuring your
            data is completely secure.</p>
          <p><strong>Encryption in transit.</strong></p>
          <p>The data that you create and share on LE moves between devices, LE services, and our data canter partners.
            This data in transit is always protected, encrypted, and authenticated by Hypertext Transfer Protocol Secure
            (HTTPS) and Transport Layer Security (TLS). LE ensures that your data is not tampered with and is always
            authenticated.</p>
          <p><strong>LE adheres to the SASE framework.</strong></p>
          <p>LE&rsquo;s network architecture is built according to the Secure Access Service Edge (SASE) framework. LE
            adheres to all the core capabilities and components&nbsp;required for a SASE framework.</p>
          <p><strong>Secure Web Gateways (SWG)</strong></p>
          <p>Ideal for remote workforces, SWG prevents and shields users from cyber threats and data breaches by
            filtering unwanted content from web traffic, blocking unauthorized user behaviour, and enforcing company
            security policies.</p>
          <p><strong>Cloud Access Security Broker (CASB):</strong></p>
          <p>CASB prevents data leaks and performs several security functions, including revealing shadow IT
            unauthorized corporate systems, securing confidential data through access control and data loss prevention
            (DLP), and ensuring compliance with data privacy regulations.</p>
          <p><strong>Fire Wall As A Service (FWaaS):</strong></p>
          <p>FWaaS eradicates the requirement of physical firewall devices with a cloud firewall that delivers next
            generation firewall capabilities that enables – URL filtering, advanced threat prevention, intrusion
            prevention systems (IPS), and DNS security.</p>
          <p><strong>Zero Trust Network Access (ZTNA)</strong></p>
          <p>ZTNA enables a very secure access to remote users. It locks down internal resources from public view and
            helps defend against potential data breaches by requiring real-time verification of every user and device to
            every protected application. LE uses real time OTP verification of email ids and mobile numbers to grant
            access to its users.</p>
        </div>

        <div class="text-teram">
          <div id="section4"></div>
          <div class="text-teram-title">4. Cookies </div>

          <p>A cookie is a very small text file placed on an internet user's hard drive. It is generated by a web page
            server, which is basically the computer that operates a website. The information the cookie contains is set
            by the server and it can be used by that server whenever the user visits the site. A cookie can be thought
            of as an internet user's identification card, which tell a website when the user has returned.<br />
            Generally, the website uses cookies to distinguish you from other users of the website. This helps us to
            provide you with a good experience when you browse the website and also allows us to improve it. The cookies
            we may use on the website may be categorized as follows: i. Strictly Necessary, ii. Performance, iii.
            Functionality and iv. Targeting<br />
            Some cookies may fulfil more than one of these purposes.<br />
            &lsquo;Strictly Necessary&rsquo;&nbsp;cookies&nbsp;let you move around the website and use essential
            features like secure areas. Without these cookies, we cannot provide the requested services. We use these
            Strictly Necessary cookies to:</p>
          <ul>
            <li>Identify you as being logged in to the website and to authenticate you</li>
            <li>Make sure you connect to the right service on the website when we make any changes to the way it works
            </li>
            <li>For security purposes</li>
            <li>Make sure you connect to the right service on the website when we make any changes to the way it works
            </li>
          </ul>
          <p>If you prevent these cookies, we can&rsquo;t guarantee how the website or the security on the website will
            perform during your visit.<br />
            &lsquo;Performance&rsquo; cookies&nbsp;collect information about how you use the website, e.g. which pages
            you visit, and if you experience any errors. These cookies are only used to help LE improve the working of
            the website, understand the interests of users and measure the effectiveness of advertising.<br />
            We use performance cookies to:</p>
          <ul>
            <li>Carry out web analytics: Provide statistics on how the website is used</li>
            <li>Perform affiliate tracking: Provide feedback to affiliated entities that one of our visitors also
              visited their site</li>
            <li>Obtain data on the number of users of the website that have viewed a product or service</li>
            <li>Help us improve the website by measuring any errors that occur</li>
            <li>Test different designs for the website</li>
          </ul>
          <p>Some of our performance cookies are managed for us by third parties.<br />
            &lsquo;Functionality&rsquo; cookies&nbsp;are used to provide services or to remember settings to improve
            your visit.<br />
            We use &lsquo;Functionality&rsquo; cookies for such purposes as:</p>
          <ul>
            <li>Remember the settings you&rsquo;ve applied such as layout, text size, preferences, and colours</li>
            <li>Remember if we&rsquo;ve already asked you if you want to fill in a survey</li>
            <li>Remember if you have engaged with a specific component or list on the website so that it won&rsquo;t
              repeat</li>
            <li>Show you when you&rsquo;re logged in to the website</li>
            <li>To provide and show embedded video content</li>
          </ul>
          <p>Some of these cookies are managed for us by third parties<br />
            &lsquo;Targeting&rsquo; cookies&nbsp;are used to track your visit to the website, as well as other websites,
            apps, and online services, including the pages you have visited and the links you have followed, which
            allows us to display targeted ads to you on the website.<br />
            We may use&nbsp;targeting cookies to:</p>
          <ul>
            <li>Display targeted ads within the website.</li>
            <li>To improve how we deliver personalized ads and content, and to measure the success of ad campaigns on
              the website.</li>
          </ul>
          <p><strong>All cookies require your consent.&nbsp;</strong><br />
            We request your consent before placing them on your device. You can give your consent by clicking on the
            appropriate button on the banner displayed to you. If you do not wish to give consent or wish to withdraw
            your consent to any cookies at any time, you will need to delete, and block or disable cookies via your
            browser settings; see below for more information on how to do this. Please note that disabling these cookies
            will affect the functionality of the website, and may prevent you from being able to access certain features
            on the website.<br />
            <strong>How to Delete and Block our Cookies</strong><br />
            Most web browsers allow some control of most cookies through the browser settings. However, if you use your
            browser settings to block all cookies (including strictly necessary cookies), you may not be able to access
            all or parts of the website. Unless you have adjusted your browser setting so that it will refuse cookies,
            our system will issue cookies as soon as you visit the website.<br />
            Changing your Cookie Settings.&nbsp;&nbsp;The browser settings for changing your cookies settings are
            usually found in the &lsquo;options&rsquo; or &lsquo;preferences&rsquo; menu of your internet browser. In
            order to understand these settings, the following links may be helpful. Otherwise, you should use the
            &lsquo;Help&rsquo; option in your internet browser for more details.
          </p>
        </div>


        <div class="text-teram">
          <div id="section5"></div>
          <div class="text-teram-title">5. Withdrawal of Consent </div>

          <p>You may choose to withdraw your consent for use and disclosure of your information provided hereunder at
            any point in time. You may exercise your right to withdraw your consent by writing us: <br />
            If You exercise Your right to withdraw your consent, you accept and agree that: -<br />
            You will lose access to your account information, saved addresses, transaction, and search history;
            and<br />
            You will no longer be able to undertake any transaction on the Platform or access the Service available on
            the Platform for which the said information was sought on the Platform.<br />
            Please note that You may not withdraw Your consent, until: -<br />
            You are a part of any ongoing transaction on the Platform; and/or Have a pending payment for a completed
            transaction on the Platform; and/or <br />
            Further, you acknowledge and agree that in case of such withdrawal of your consent, LE reserves the right to
            store your information in an anonymized form such that the information stored will not be attributable to
            you or identify you in any manner whatsoever. The Company shall complete the anonymizing of the data within
            30 days from the date of withdrawal of consent. Further, the Company may also store certain information
            provided by you, or collected in process of your use of the Platform, as may be required under applicable
            laws.<br />
            Rectification: You represent and warrant that any and all information, including but not limited to Your
            Personal Information is absolutely correct and complete in all aspects. You further undertake to immediately
            update any change or variation of Your Personal Information on the Platform by sending Us a request in
            writing <strong><u>le@levitatingelephant.com</u></strong> to rectify or update your Account. Once you send
            us an email to us, you agree to comply with the instructions as may be
            provided/communicated&nbsp;by&nbsp;us.</p>
        </div>


        <div class="text-teram">
          <div id="section6"></div>
          <div class="text-teram-title">
            6. Changes to this Privacy Policy
          </div>
          <p>
            LE reserves the unconditional right to change, modify, add, or remove portions of this Privacy Policy at any
            time, without specifically notifying You of such changes. Any changes or updates will be effective
            immediately. You should review this Privacy Policy regularly for changes. You can determine if changes have
            been made by checking the “Last Updated” legend above. If we make any significant changes, we will endeavour
            to provide you with reasonable notice of such changes, such as via prominent notice on the Platform or to
            your email address on record, and where required by applicable law, we will obtain your consent. Your
            acceptance of the amended Privacy Policy / Your continued use of our services after we publish or send a
            notice about our changes to this Policy shall signify Your consent to such changes and agreement to be
            legally bound by the same.</p>
        </div>


        <div class="text-teram">
          <div id="section7"></div>
          <div class="text-teram-title">
            7. Grievances
          </div>
          <p>
            In accordance with the Information and Technology Act, 2000 and the rules made thereunder; if users have any
            grievance with respect to this Privacy Policy, users can contact our grievance officer at:<a
              href="mailto:le@levitatingelephant.com"> le@levitatingelephant.com</a>
          </p>
        </div>

      </div>
    </div>
  </div>

</body>

  <div class="">
    <app-footer></app-footer>
  </div>
