/* congrates Start */



section.congrates.h-100vh {
    margin-top: 0px;
}

.row.align-items-center.cong {
    height: calc(100vh);
}
h4.single-txtc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.05em;
    color: #942C86;
}
p.cong-p {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: rgba(30, 30, 30, 0.49);
}
.form-congrates input {
    background: transparent;
    border: none;
    border-bottom: solid 1px #000;
    width: 526px;
    padding: 15px 0px;
    border-radius: 0;
    transition: 0.5s !important;
}
h3.txt-cong {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 0.05em;
    color: #942C86;
}

.btn-primary {
    background: linear-gradient(89.84deg, #F0B239 0.13%, #E74643 52.69%, #723690 99.86%);
    box-shadow: 10px 10px 10px 2px rgb(0 0 0 / 25%);
    border-radius: 10px 33px;
    padding: 16px 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 60px !important;
    border: none !important;
}
.btn-primary1:hover {
    background: linear-gradient(89.84deg, #F0B239 0.13%, #E74643 52.69%, #723690 99.86%);
    color: #fff;
    transition: 0.5s !important;
}

.btn-primary:hover {
    background: #F5F7F7;
    color: #5F3A96;
    transition: 0.5s;
}
.btn-primary1 {
    background: #F5F7F7;
    border-radius: 7.3324px 24.1969px;
    box-shadow: 10px 10px 10px 2px rgb(0 0 0 / 25%);
    border-radius: 10px 33px;
    padding: 16px 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #5F3A96;
    margin-top: 60px !important;
    border: none !important;
}





p.cong-p1 {
    margin: 0;
    padding-top: 34px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: rgba(30, 30, 30, 0.49);
}
.form-control:focus {
    color: #212529;
    background-color: transparent !important;
    border-color: #ccc !important;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    padding-left: 15px !important;
    transition: 0.5s !important;
}

.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid #fff !important;

}
.fix .form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid #000 !important;
}
.fix .form-check-input:checked[type=radio] {
    filter: brightness(0) !important;
}

section.congrates.h-100vh {
    margin-top: -97px !important;
}
/* congrates  end */