.form-check input#flexCheckDefault {
	margin-left: 6px;
	margin-right: 14px;
}


img.img-fluid.gifimg.aos-init.aos-animate {
    position: absolute;
    left: 0;
    width: 37%;
    bottom: 0;
    border-radius: 100%;
    top: 0;
    margin: auto;
    right: 0;
	opacity: 0.5;
}
.butterfly23 {
	position: absolute;
	width: 110px !important;
	top: -35px !important;
	right: -5px;
	left: auto !important;
}
.butterfly {
	position: relative;
}
.eligibilty-text {
	padding-left: 62px
}

.eligibilty-img {
	position: absolute;
	right: 0;
}

label.form-check-label {
	color: rgba(30, 30, 30, 0.49);

}

img.fix-chek {
	margin-left: 12px;
}

// .form-check {
// 	border: solid 1px;
// 	padding: 12px;
// 	width: 240px;
// }



.btn-theme:hover {
	color: #FFF;
	transform: translateY(-5px);
}

.banner-home-right-top {
	font-size: 22px;
	color: #5F3A96;
	padding-bottom: 20px;
}

.font2 {
	font-family: 'Century Gothic';
}

.banner-home-left img {
	width: 90%;
	margin: auto;
}

.btn.menu-btn {
	box-shadow: none !important;
	border: 0 !important;
}

.title {
	font-family: 'Century Gothic';
	color: #5F3A96;
	font-size: 45px;
	z-index: 99;
	position: relative;
}

.divder {
	width: 62px;
	height: 1px;
	background: #5F3A96;
	margin-right: 15px;
}

.py-90 {
	padding-bottom: 90px;
	padding-top: 90px;
}

.title.our-product-title {
	font-size: 35px;
}

.contact h3 {
	color: #000;
	font-family: Century Gothic;
	font-size: 40px;
	padding-bottom: 30px;
	margin: 0;
}

.contact .form-control,
.form-theme .form-control {
	background-color: transparent;
	border: 0;
	height: 60px;
	margin-bottom: 3px;
	padding-left: 24px;
	box-shadow: none !important;
	font-weight: 400;
	border-bottom: 1px solid #000;
	border-radius: 0;
	padding-left: 0;
}

.form-select {
	font-size: 15;
	color: #777;
	background-color: #FFF !important;
}

.contact .btn-primary,
.form-theme .btn-primary {
	color: #fff;
	min-height: 54px;
	font-size: 18px;
	line-height: 40px;
}

.header-top {
	position: fixed;
	width: 100%;
}

.navbar-fixed {
	background: #FFF;
}

.contact .btn-primary,
.form-theme .btn-primary {
	color: #fff;
	background-color: #5F3A96;
	border-color: #5F3A96;
	transition: 0.5s;
	box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.25);
    transition: 0.5s;
}

.btn-primary {
	border-radius: 10px 33px;
	min-width: 220px;
	height: 50px;
}

.btn-primary:hover {
	box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.25) !important;
}

.page-banner {
	background: #502E8B;
	min-height: 250px;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.pages .header-top.navbar {
	background: #FFF !important;
}

.pages {
	padding-top: 85px;
}

.page-banner-left {
	position: relative;
}

.form-style .floating-label-group {
	position: relative;
	margin-top: 15px;
	margin-bottom: 30px;
}

.form-style .floating-label {
	font-size: 15px;
	color: #757575;
	position: absolute;
	pointer-events: none;
	top: 9px;
	left: 0;
	transition: all 0.1s ease;
}

.form-style input:focus~.floating-label,
.form-style input:not(:focus):valid~.floating-label {
	top: -10px;
	bottom: 0px;
	left: 0px;
	font-size: 11px;
	opacity: 1;
	color: #404040;
}

.file-label {
	padding-bottom: 22px;
	font-size: 15px;
}

.butterfly {
	position: relative;
}

// .butterfly img {
// 	position: absolute;
// 	left: 29%;
// 	width: 46%;
// 	top: -136%;
// }

@media(max-width:1024px) {
	.eligibilty-img {
		display: none;
	}
}

@media (max-width:767.98px) {
	.butterfly23 {
		position: absolute;
		width: 130px !important;
		top: -67px !important;
		right: -55px;
		left: auto !important;
	}

	.container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.pages {
		padding-top: 70px;
	}

	.pages .btn.menu-btn svg line {
		fill: #5f3a96 !important;
		stroke: #5f3a96;
	}

	.members-bord-box {
		transition: .3s ease-in-out;
		margin-bottom: 10px;
	}

	.members-bord-box-name {
		font-size: 18px;
	}

	.page-banner-right img {
		width: 55px;
	}

	.page-banner {
		background: #502E8B;
		padding: 20px 0;
		overflow-x: hidden;
	}

	.title {
		font-size: 35px;
		z-index: 999;
		position: relative;
	}
	.red{
		color:red;
	}
	.page-banner-left img {
		position: relative;
		top: 0;
		width: 54px;
	}

	.page-banner {
		min-height: 168px;

	}

	.butterfly img {
		position: absolute;
		left: 2%;
		width: 100%;
		top: -105%;
	}
}