<div id="trans" class="header">
    <app-header></app-header>
</div>

<section class="banner-home">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-6 banner-home-left  text-center d-flex align-items-center justify-content-center">
   <img src="../../assets/images/le.gif" data-aos-delay="400" data-aos="zoom-in" class="img-fluid gifimg">
  
        <img src="../../assets/images/letest-bg.png" data-aos-delay="400" data-aos="zoom-in" class="img-fluid">
  
        </div>
        <div class="col-lg-6 banner-home-right py-lg-5 px-lg-5" data-aos="fade-left">
         <!--- <div class="banner-home-right-top" >Human Intuition + Machine Intelligence =</div>-->
          <h1 >The Creative Innovators</h1>
          <p class="pt-lg-4">We are creating, developing and investing in products and services that harnesses the power of human intuition with machine intelligence.
  </p>
  <p>Let us shape the future together.</p>
          <a class="btn-theme mt-lg-5" routerLink="/joinus"> Join us</a> </div>
      </div>
    </div>
  </section>



<section class="py-90 product-section">
    <div class="container pb-4">
        <h2 data-aos="zoom-in-up" class="title m-title text-center d-flex align-items-center justify-content-center">
            <span class="divder"></span>OUR PRODUCTS</h2>
    </div>
    <div id="product-hover" class="container">
        <div class='accordeon-new  justify-content-between row'>
            <div class='product-hover-row'>
                <div class='full d-flex justify-content-between our-product-box'>
                    <div class="hover-text-left">
                        <h2 class="title our-product-title text-white  d-flex align-items-center">ORKO <span
                                class="divder ms-4"></span></h2>
                        <div class="our-product-box-top"> Data Collection made easy.</div>
                        <div class="our-product-box-text"> ORKO is a no-code application builder, designed for creative
                            Managers who create, customize, and implement intelligent data collection journeys.
                        </div>
                        <div class="our-product-box-btn"> <a href="https://orko.co/" class="product-box-btn">Visit
                                Orko</a> </div>
                        <div class="our-product-text-bottom pt-4"> ORKO is currently at the market testing stage.</div>
                    </div>
                    <div class="hover-text-right">
                        <div class="our-product-box-right"> <img src="../../assets/images/orko-logo.png" width="170">
                            <div class="d-md-none mobile-hover">
                                <a href="https://orko.co/" class="product-box-btn">Visit Orko</a>
                                <div class="our-product-text-bottom pt-4"> ORKO is currently at the market testing
                                    stage.</div>
                            </div>
                            <div class="our-product-box-right-number">01</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='product-hover-row link2'>
                <div class='full d-flex justify-content-between our-product-box'>
                    <div class="hover-text-left">
                        <h2 class="title our-product-title text-white  d-flex align-items-center">ASK VANA <span
                                class="divder ms-4"></span></h2>
                        <div class="our-product-box-top"> Your personalized virtual assistant.</div>
                        <div class="our-product-box-text"> Ask Vana is a conversational virtual assistant that assists
                            professionals to create, schedule, track and accomplish all work tasks with simple
                            conversations.
                        </div>
                        <div class="our-product-box-btn"> <a href="https://askvana.co/" class="product-box-btn">Visit
                                Ask Vana</a> </div>
                        <div class="our-product-text-bottom pt-4"> Ask Vana is currently at an MVP development stage.
                        </div>
                    </div>
                    <div class="hover-text-right">
                        <div class="our-product-box-right"> <img src="../../assets/images/ask.svg" width="160">
                            <div class="d-md-none mobile-hover">
                                <a href="https://askvana.co/" class="product-box-btn">Visit Ask Vana</a>
                                <div class="our-product-text-bottom pt-4"> Ask Vana is currently at an MVP development
                                    stage.</div>
                            </div>
                            <div class="our-product-box-right-number">02</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="our-product-box simple-arcana position-relative">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="title our-product-title text-white  d-flex align-items-center">Simple Arcana <span
                            class="divder ms-4"></span></h2>
                    <div class="our-product-box-top"> The future of autonomous automotives.</div>
                    <div class="our-product-box-text"> A real time cloud based Intelligent and advanced driver assistant
                        solutions for semi and fully autonomous vehicles.</div>
                    <div class="our-product-box-btn"> <a href="https://simplearcana.com/" class="product-box-btn">Visit
                            Simple Arcana</a> </div>
                    <div class="our-product-text-bottom pt-4"> Simple Arcana is currently in the Research and Prototype
                        development stage.</div>
                </div>
                <div class="col-lg-6 ">
                    <div class="hover-text-right">
                        <div class="our-product-box-right"> <img src="../../assets/images/simple.svg" class="img-fluid">
                            <div class="d-md-none mobile-hover">
                                <a href="https://simplearcana.com/" class="product-box-btn ">Visit Simple Arcana</a>
                                <div class="our-product-text-bottom pt-4"> Simple Arcana is currently in the Research
                                    and Prototype development stage.</div>
                            </div>
                            <div class="our-product-box-right-number">03</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="about position-relative pt-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <h2 data-aos="fade-right" data-aos-delay="200" class="title d-flex align-items-center m-title"><span
                        class="divder"></span>ABOUT US</h2>
                <div class="text-box-about" data-aos="fade-right">
                    <div class="pb-3">
                        <div class="text-box-about-sub theme-text"> <a routerLink="/about/whyle" class="arrow_btn">Why LE <img
                                    src="../../assets/images/arrow.svg"></a></div>
                        <p>A note from the Founders.</p>
                    </div>
                    <div class="pb-3">
                        <div class="text-box-about-sub theme-text"> <a routerLink="/about/board" class="arrow_btn">Board <img
                                    src="../../assets/images/arrow.svg"></a></div>
                        <p>Meet the founding members.</p>
                    </div>
                    <!-- <div>
                        <div class="text-box-about-sub theme-text"> <a routerLink="/about/team" class="arrow_btn">Team <img
                                    src="../../assets/images/arrow.svg"></a></div>
                        <p>The 50+ years of experience backing LE</p>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-7 about-img" data-aos="fade-left"><img src="../../assets/images/about.png" class="img-fluid"></div>
        </div>
    </div>
</section>

<section class="career pt-5 mt-lg-5">
    <div class="container">
        <h2 data-aos="zoom-in-up"
            class="title m-title text-center d-flex align-items-center justify-content-center pb-3"><span
                class="divder"></span>CAREER</h2>
        <div class="row  pt-lg-5 pt-3">
            <div class="col-lg-5">
                <div class="caree-left">
                    <div class="caree-top">
                        <h2>The Creative Innovator</h2>
                        <p>We are building a dream team of entrepreneurs who can create, execute and deliver value with
                            impact.</p>
                        <a href="career.html" class="text-white arrow_btn">VIEW MORE <img class="ms-4 ps-2"
                                src="../../assets/images/arrow-white.svg"></a>
                    </div>
                    <div class="d-md-none pt-4"> <img src="../../assets/images/caree1.svg" width="100%"></div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="caree-box">
                    <div class="row">
                        <div class="col-lg-4 order-lg-2 pe-3 text-end"> <img src="../../assets/images/carre2.png" width="145"
                                style="margin-right:-4px"> </div>
                        <div class="col-lg-8 order-lg-1">
                            <div class="caree-box-title"> Eligibility Test</div>
                            <p class="pb-lg-4 mb-lg-0"> Take a quick test, to understand if we are a match made in
                                heaven. This is a mandatory test to apply for any opportunities with us.
                            </p>
                            <a class="px-0 arrow_btn" class="theme-text" routerLink="/questions">VIEW MORE <img
                                    src="../../assets/images/arrowpink.svg" class="ms-4"> </a>
                        </div>
                    </div>
                </div>
                <div class="caree-box">
                    <div class="row">
                        <div class="col-lg-4 order-lg-2 pe-3 text-end"> <img src="../../assets/images/openings.png" width="140"
                                style="margin-right:-4px"> </div>
                        <div class="col-lg-8 order-lg-1 pe-lg-0">
                            <div class="caree-box-title"> Openings</div>
                            <p class="pb-lg-4 mb-lg-0"> This is a simple 7 questions test that you need to complete to
                                apply for any positions at LE.
                                After the completion of your test, you will receive a six digit key, which will unlock
                                your Openings section.
                            </p>
                            <a class="theme-text arrow_btn mt-lg-0" routerLink="/openings">VIEW MORE <img
                                    src="../../assets/images/arrowpink.svg" class="ms-4"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="contact">
    <div class="container">
        <div class="row h-100">
            <div class="col-lg-6 " data-aos="fade-right">
                <h3 class="pt-4">Contact Us</h3>
                <form [formGroup]="contactDetails" (ngSubmit)="submitDetails()">
                    <div class="form-group">
                        <input type="Name" class="form-control" placeholder="Name" formControlName="name" >

                        <div *ngIf="isSubmitted && f.name?.errors" >
                            <div *ngIf="f.name?.errors?.required">
                              <p style="color: red;font-size: 13px;padding-top: 3px;">Name is required</p>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email" formControlName="email" >

                        <div *ngIf="isSubmitted && f.email?.errors" >
                            <div *ngIf="f.email?.errors?.required">
                              <p style="color: red;font-size: 13px;padding-top: 3px;">Email is required</p>
                            </div>
                            <div *ngIf="f.email?.errors?.email">
                              <p style="color: red;font-size: 13px;padding-top: 3px;">Email must be a valid email address</p>
                            </div>
                         </div>
                    </div>

                    <div class="form-group">
                        <select class="form-select form-control" aria-label="Default  select example" formControlName="position" >
                            <option  value="" selected disabled hidden> Subject </option>
                            <option value="2">Investor</option>
                            <option value="3">Contractor/vendor</option>
                            <option value="4">Associate</option>
                            <option value="5">Press/PR</option>
                            <option value="6">Advertising</option>
                        </select>

                        <div *ngIf="isSubmitted && f.position?.errors" >
                            <div *ngIf="f.position?.errors?.required">
                              <p style="color: red;font-size: 13px;padding-top: 3px;">Subject is required</p>
                            </div>
                        </div>

                    </div>


                    
                    <div class="form-group">
                        <textarea autosize class="my-textarea mb-0 txta form-control" placeholder="Drop a note"
                         formControlName="description" maxlength="100" (ngModelChange)="checkLength()" [ngClass]="{red: lengthD == '100'}"></textarea>
                        <div class="text-end pt-1"><small> Min 100 characters ({{lengthD}}/100)</small></div>
                    </div>
                    <div class="pt-3"> 
                        <!-- <img src="../../assets/images/robot.png">  -->

                        <div class="pt-3">  <div class="form-check p-0" for="flexCheckDefault">
                            <!-- <input class="form-check-input" type="checkbox" value=""  id="flexCheckDefault" (click)="checkValue($event)">
                            <label class="form-check-label" for="flexCheckDefault">
                              i am not robot <img class="fix-chek" src="../../assets/images/checkbox.svg" alt="">
                            </label> -->


                           <!--  <re-captcha id="recaptcha" name="recaptcha" #recaptcha="ngModel" 
                            [(ngModel)]="token" required 
                            [class.is-invalid]="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)">
                            </re-captcha> -->

                            <re-captcha id="recaptcha" name="recaptcha"
                            [(ngModel)]="token" formControlName="recaptcha">
                            </re-captcha>

                            <!-- <div *ngIf="isSubmitted && f.recaptcha?.errors" >
                                <div *ngIf="f.recaptcha?.errors?.required">
                                  <p style="color: red;font-size: 13px;padding-top: 3px;">This field is required</p>
                                </div>
                            </div> -->

                            <!-- <div *ngIf="recaptcha.invalid && (recaptcha.dirty || recaptcha.touched)" class="invalid-feedback">
                                <div *ngIf="recaptcha.errors?.['required']">This field is required.</div>
                            </div> -->

                          </div>
                        </div>
                    </div>
                    <div class="pt-5">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <!-- href="thanku.html" -->
                    </div>
                </form>
            </div>
            <div class="col-lg-6 address-footer-bg">
                <div class="address-footer ms-lg-5"> <img src="../../assets/images/form.png" class="img-fluid">
                    <p class="theme-text pt-4 pb-3"> Nestled in the quite shores of western India, we are churning out a
                        storm here.</p>
                    <p><span class="theme-text"> Levitating Elephant Technologies Private Limited</span><br>
                        91 Springboard Business Hub, 201, 301, Shanta Building,
                        18th June Road, Santa Inez, Panjim, North Goa, Goa – 403001 </p>
                    <div class="pt-3"> <a href="#"><svg width="33" height="33" viewBox="0 0 33 33" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.5 0C7.38869 0 0 7.38869 0 16.5C0 25.6113 7.38869 33 16.5 33C25.6113 33 33 25.6113 33 16.5C33 7.38869 25.6113 0 16.5 0ZM11.7053 24.9434H7.68679V12.8536H11.7053V24.9434ZM9.69617 11.2028H9.66998C8.3215 11.2028 7.44937 10.2745 7.44937 9.11433C7.44937 7.92799 8.34819 7.02539 9.72285 7.02539C11.0975 7.02539 11.9435 7.92799 11.9697 9.11433C11.9697 10.2745 11.0975 11.2028 9.69617 11.2028ZM26.1952 24.9434H22.1772V18.4756C22.1772 16.8502 21.5953 15.7417 20.1413 15.7417C19.0313 15.7417 18.3701 16.4894 18.0796 17.2113C17.9734 17.4696 17.9474 17.8306 17.9474 18.1919V24.9434H13.9292C13.9292 24.9434 13.9818 13.9878 13.9292 12.8536H17.9474V14.5654C18.4814 13.7416 19.4369 12.5699 21.5689 12.5699C24.2127 12.5699 26.1952 14.2978 26.1952 18.0111V24.9434Z"
                                    fill="#5E3A94" />
                            </svg> </a> </div>
                </div>
            </div>
        </div>
        </div>
        </section>
        <div class="">
            <app-footer></app-footer>
        </div>