<footer >
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 ">
        <div class="row footer-left">
          <div class="col-lg-5"><a href="index.htl"> <img src="../../../assets/images/footerlogo.png" width="220" alt="le footer logo"></a>
            <div class="pt-5 d-none d-lg-block"> <a href="https://in.linkedin.com/company/levitating-elephant?trk=public_profile_topcard-current-company" target="_blank"><svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.5 0C7.38869 0 0 7.38869 0 16.5C0 25.6113 7.38869 33 16.5 33C25.6113 33 33 25.6113 33 16.5C33 7.38869 25.6113 0 16.5 0ZM11.7053 24.9434H7.68679V12.8536H11.7053V24.9434ZM9.69617 11.2028H9.66998C8.3215 11.2028 7.44937 10.2745 7.44937 9.11433C7.44937 7.92799 8.34819 7.02539 9.72285 7.02539C11.0975 7.02539 11.9435 7.92799 11.9697 9.11433C11.9697 10.2745 11.0975 11.2028 9.69617 11.2028ZM26.1952 24.9434H22.1772V18.4756C22.1772 16.8502 21.5953 15.7417 20.1413 15.7417C19.0313 15.7417 18.3701 16.4894 18.0796 17.2113C17.9734 17.4696 17.9474 17.8306 17.9474 18.1919V24.9434H13.9292C13.9292 24.9434 13.9818 13.9878 13.9292 12.8536H17.9474V14.5654C18.4814 13.7416 19.4369 12.5699 21.5689 12.5699C24.2127 12.5699 26.1952 14.2978 26.1952 18.0111V24.9434Z" fill="white"/>
              </svg> </a></div>
          </div>
          <div class="col-lg-7">
            <div class="border-footer">
              <div class=" footer-left-sub pb-3 d-lg-block d-none"> The creative innovators community</div>
              <p class="text-white pt-lg-0 pt-4"> Levitating Elephant is a growing community of creative innovators who create, develop and invest in products and services that focus on value, efficiency and impact. 
</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ps-lg-5">
        <div class="row pt-lg-0 pt-4">
          <div class="col-lg-4 col-7">
            <h2>Product</h2>
            <ul class="footer-list">
              <li><a href="https://orko.co/" target="_blank"><span></span> ORKO</a> </li>
              <li><a href="https://askvana.co/" target="_blank"><span></span> ASK VANA</a> </li>
              <li><a href="https://simplearcana.com/" target="_blank"><span></span> SIMPLE ARCANA</a> </li>
            </ul>
          </div>
          <div class="col-lg-3 col-5">
            <h2>About</h2>
            <ul class="footer-list">
              <li><a routerLink="/about/whyle"><span></span> Why LE</a> </li>
              <li><a routerLink="/about/board"><span></span> Board</a> </li>
              <!-- <li><a routerLink="/about/team"><span></span> Team</a> </li> -->
            </ul>
          </div>
          <div class="col-lg-5 col-7 pt-lg-0 pt-4">
            <h2>Careers</h2>
            <ul class="footer-list">
              <li><a routerLink="/innovetor"><span></span> The Creative Innovator</a> </li>
              <li><a routerLink="/test"><span></span> Eligibility Test</a> </li>
              <li><a routerLink="/openings"><span></span> Openings</a> </li>
            </ul>
          </div>
             <div class="col-5  d-lg-none pt-lg-0 pt-4">
            <h2>Contact</h2>
 <div class="pt-0"> <a href="#"><svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M16.5 0C7.38869 0 0 7.38869 0 16.5C0 25.6113 7.38869 33 16.5 33C25.6113 33 33 25.6113 33 16.5C33 7.38869 25.6113 0 16.5 0ZM11.7053 24.9434H7.68679V12.8536H11.7053V24.9434ZM9.69617 11.2028H9.66998C8.3215 11.2028 7.44937 10.2745 7.44937 9.11433C7.44937 7.92799 8.34819 7.02539 9.72285 7.02539C11.0975 7.02539 11.9435 7.92799 11.9697 9.11433C11.9697 10.2745 11.0975 11.2028 9.69617 11.2028ZM26.1952 24.9434H22.1772V18.4756C22.1772 16.8502 21.5953 15.7417 20.1413 15.7417C19.0313 15.7417 18.3701 16.4894 18.0796 17.2113C17.9734 17.4696 17.9474 17.8306 17.9474 18.1919V24.9434H13.9292C13.9292 24.9434 13.9818 13.9878 13.9292 12.8536H17.9474V14.5654C18.4814 13.7416 19.4369 12.5699 21.5689 12.5699C24.2127 12.5699 26.1952 14.2978 26.1952 18.0111V24.9434Z" fill="white"/>
              </svg> </a></div>
</div>
</div>

        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="row">
        <div class="col-lg-6 ">
          <div class="text-white"> <span routerLink="/privacy" style="cursor: pointer;"> Privacy Policy</span> | <span routerLink="/terms" style="cursor: pointer;">Terms of Service          </span>| <span style="cursor: pointer;" routerLink="/cookies"> Cookies</span></div>
        </div>
        <div class="col-lg-6 pt-lg-0 pt-4"  id="footer1">
          <div class="text-white "> © 2023 Levitating Elephant Technologies Private Limited. All rights reserved.</div>
        </div>
      </div>
    </div>
</footer>