

<section class="py-5">
    <div class="pb-5 mb-5">
      <div class="container">
        <div class="row" >
  
 
          
          <div class="col-lg-8">
             
  
            <div class="text">
              <h3 class="apply-h3 d-flex align-items-center mb-3">
                Simple Arcana Logo<br>
                Creating an autonomous future

              </h3>
          </div>
         <p> Simple Arcana is focussed towards developing products and solutions in autonomous robotics and automotive.  </p>

         <p>Our first project in Simple Arcana is a fully Autonomous Delivery System, which is currently in the research and prototyping stage.</p>
          
         <p> Simple Arcana is developing smart autonomous robots and vehicles that can partner with humans in increasing their efficiency in effort, time and intelligence.</p>
          
          </div>


          <div class="col-md-4 d-flex align-items-center fx-set">
            <img src="../../../assets/images/askvanalogo.png" alt="">
          </div>

          <div class="col-md-12">
            <p><u><b>Go to website</b></u></p>
          </div>

          <div class="col-md-12 pt-4">
            <p> *Ask Vana is currently in prototype testing phase</p>
          </div>

         
        </div>
      </div>
    </div>
    
  
  </section>