<!-- <p>apply-opening-otp works!</p>
<button routerLink="/careers/filldetails">details</button> -->
<section class="apply" title="Careers Eligibility Test Quiz of Levitating Elephant">
    <div class="container">
        <div class="row py-5 align-items-center" >
            <div class="col-lg-7 margin">
                <div class="text">
                    <h3 class="apply-h3 d-flex align-items-center">
                      <span class="divder"></span>
                        WELCOME TO LE’s<br> ELIGIBILITY TEST
                    </h3>
                </div>

                <div class="text pt-4">
     
                    <p class="apply-p pt-2">This is a simple 7 questions test that you need to complete to apply for<br> any positions at LE.<br>
                        After the completion of your test, you will receive a six digit key, which<br> will unlock your Openings section.</p>
                
                <div class="next pt-2">
                    <div class="mb-3 input-design">
                        <button type="submit " class="btn-theme mt-5" routerLink="/questions">Start test</button>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-lg-5">

                <!-- <button routerLink="/careers/filldetails">details</button> -->
            </div>

        </div>
    </div>
</section>
