.apply {
    background-image: url(../../../assets/images/start.png);
    background-repeat: no-repeat;
    background-position: center right;
}

h3.apply-h3 {
    font-family: 'poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 134.66%;
    color: #5F3A96;
}
.text.pt-4 {
    padding-left: 75px;
}
.divder {
    width: 62px;
    height: 1px;
    background: #5F3A96;
    margin-right: 15px;
}

p.apply-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: rgba(30, 30, 30, 0.49);
}

.input-design input {
    border: none;
    border-bottom: solid 0.3px #000;
    border-radius: 0;
    width: 98%;
    padding: 14px 0px;
    font-size: 15px;
    line-height: 22px;
    color: rgba(30, 30, 30, );
    font-weight: 500;
}

.input-design input::placeholder {
    color: rgba(30, 30, 30, 0.49) !important;
}

.arrow span {
    font-size: 36px;
    cursor: pointer;

}

.form-text {
    margin-top: 0.25rem;
    color: rgba(30, 30, 30, 0.49) !important;
    font-size: 16px !important;
}

.form-text b u {
    margin-top: 0.25rem;
    color: #000 !important;
    font-size: 16px !important;
    cursor: pointer;
}

button.btn.btn-primary.mt-5 {
    background: linear-gradient(89.84deg, #F0B239 0.13%, #E74643 52.69%, #723690 99.86%);
    border-radius: 7.3324px 24.1969px;
    border: none !important;
    padding: 16px 80px;
    font-size: 18px;
    line-height: 26px;
}



@media (max-width:1200px){
    .margin {
        margin-left: 8rem;
    }
}

@media (max-width:1024px){
    .margin {
        margin-left: 0rem;
    }
    section.apply {
        background: none !important;
    }
    h3.apply-h3:before {
        display: none;
    }
}

@media(max-width:768px) {


    .margin {
        margin-left: 0rem;
    }

    h3.apply-h3:before {
        display: none;
    }

    h3.apply-h3 {
        font-weight: 400;
        font-size: 26px;
    }

    section.apply {
        background: none !important;
    }

    .row.py-5.align-items-center {
        min-height: auto !important;
  padding: 10px 0px 40px 0px !important;
    }

}